.tooling-apps-cache/app/viva-ng-sf-inbound-papi-v5/viva-ng-sf-inbound-papi.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:apikit="http://www.mulesoft.org/schema/mule/mule-apikit" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd ">
    <apikit:config name="viva-ng-sf-inbound-papi-config" api="viva-ng-sf-inbound-papi.raml" outboundHeadersMapName="outboundHeaders" httpStatusVarName="httpStatus" />
    <flow name="viva-ng-sf-inbound-papi-main">
        <http:listener path="/api/*" config-ref="http-listener-config">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body><![CDATA[#[payload]]]></http:body>
                <http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
            </http:error-response>
        </http:listener>
        <ee:transform doc:name="initializationOfVariables" doc:id="0543e4b6-0798-45e9-8848-9faf8a280399">
			<ee:message />
			<ee:variables>
				<ee:set-variable variableName="transactionId"><![CDATA[uuid()]]></ee:set-variable>
				<ee:set-variable variableName="correlationId"><![CDATA[%dw 2.0
output application/java
---
correlationId default " "
]]></ee:set-variable>
				<ee:set-variable variableName="httpMethod" ><![CDATA[attributes.method]]></ee:set-variable>
			</ee:variables>
		</ee:transform>
		<apikit:router config-ref="viva-ng-sf-inbound-papi-config" />
		<error-handler ref="error-handler" />
    </flow>
    <flow name="viva-ng-sf-inbound-papi-console">
        <http:listener path="/console/*" config-ref="http-listener-config">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body><![CDATA[#[payload]]]></http:body>
                <http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
            </http:error-response>
        </http:listener>
        <apikit:console config-ref="viva-ng-sf-inbound-papi-config" />
    </flow>
    <flow name="post:\nextgenemr:text\plain:viva-ng-sf-inbound-papi-config">
		<flow-ref doc:name="callToImplFlow" doc:id="187e7490-ccfa-4afd-a970-e64e34d8afb0" name="nextgen-sf-papi-impl" />
		
    </flow>
</mule>
