sfnextgen-v2/.tooling-project/temp/sfnextgen-v2e6a2cb/src/main/mule/sfnextgen-v2.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:salesforce-pub-sub="http://www.mulesoft.org/schema/mule/salesforce-pub-sub" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/salesforce-pub-sub http://www.mulesoft.org/schema/mule/salesforce-pub-sub/current/mule-salesforce-pub-sub.xsd">
	<flow name="sfnextgen-v2Flow" doc:id="91a16900-9ba2-4f7d-8ba0-c5701d4143dc" >
		<salesforce-pub-sub:subscribe-channel-listener doc:name="Subscribe channel listener" doc:id="a84151b5-a96b-4cc8-ae95-a949183b8b85" replayOption=""/>
		
		<choice doc:name="Route by EventType__c">
			<when expression="#[payload.EventType__c == 'A04']">
				<transform doc:name="To HL7 ADT^A04">
					<dw:transform-message xmlns:dw="http://www.mulesoft.org/schema/mule/ee/dw">
						<dw:set-payload><![CDATA[
%dw 2.0
output text/plain
fun toHl7Name(last, first, middle) = (last default "PATIENT DECLINED") ++ "^" ++ (first default "PATIENT DECLINED") ++ "^" ++ (middle default "")
fun normGender(g) = (g as String {default:""} toUpperCase()) match { case "M" -> "M" case "F" -> "F" else -> "U" }
fun normLang(l) = (l default "EN")  // Replace with code table if needed
---
(
	// MSH
	"MSH|^~\\&|HEALTHFUSION^1266378|NEXTGENOFFICE^1266378|FORESTHMS|FORESTHMS^1266378|" ++ now() as String {format: "yyyyMMddHHmmss"} ++ "||ADT^A04|" ++ (uuid() as String) ++ "|P|2.3" ++
	"\n" ++

	// PID
	"PID|1|" ++ (payload.HealthFusion_Patient_Record_ID__c default "") ++ "|" ++ (payload.HealthFusion_Patient_Record_ID__c default "") ++ "|" ++
	("HF" ++ (payload.HealthFusion_Patient_Record_ID__c default "")) ++ "|" ++
	toHl7Name(payload.LastName__c, payload.FirstName__c, payload.MiddleName__c) ++ "||" ++
	(payload.Date_of_Birth__c default "") ++ "|" ++
	normGender(payload.Patient_Gender__c) ++ "||" ++
	(payload.Patient_Race__c default "PATIENT DECLINED") ++ "|" ++
	(payload.MailingStreet__c default "") ++ "^^" ++ (payload.MailingCity__c default "") ++ "^" ++ (payload.MailingState__c default "") ++ "^" ++ (payload.MailingPostalCode__c default "") ++ "|" ++
	"(" ++ (payload.Phone__c default "") ++ ")" ++ (payload.Phone__c default "") ++ "^^^" ++ (payload.Email__c default "") ++ "^^" ++ (payload.Phone__c default "") ++ "^" ++ (payload.PhoneNumberFormatted__c default "") ++ "||" ++
	normLang(payload.Language__c) ++ "|||||||" ++
	(payload.Patient_Ethnicity__c default "PATIENT DECLINED") ++
	"\n" ++

	// PV1 (Example/simplified)
	"PV1|1|O|^^^1275017^^^^^FOREST HILLS||||||||1275017^^^1275017^^^^^FOREST HILLS|||||||||||||||||||||||N|||||1266378;FOREST HILLS MEDICAL SERVICES;FORESTHMS" ++
	"\n" ++

	// GT1
	"GT1|1|" ++ (payload.HealthFusion_Patient_Record_ID__c default "") ++ "|" ++ toHl7Name(payload.LastName__c, payload.FirstName__c, payload.MiddleName__c) ++ "||" ++
	(payload.MailingStreet__c default "") ++ "^^" ++ (payload.MailingCity__c default "") ++ "^" ++ (payload.MailingState__c default "") ++ "^" ++ (payload.MailingPostalCode__c default "") ++ "|" ++
	"(" ++ (payload.Phone__c default "") ++ ")" ++ (payload.Phone__c default "") ++ "^^^" ++ (payload.Email__c default "") ++ "^^" ++ (payload.Phone__c default "") ++ "^" ++ (payload.PhoneNumberFormatted__c default "") ++ "||" ++
	((payload.Date_of_Birth__c default "") ++ "000000") ++ "|" ++
	normGender(payload.Patient_Gender__c) ++ "||OTHER"
)
]]></dw:set-payload>
					</dw:transform-message>
				</transform>
				<file:write doc:name="Write HL7 ADT^A04" xmlns:file="http://www.mulesoft.org/schema/mule/file"
					path="target/hl7-out/adt_a04_#[now()].hl7" />
			</when>
			<when expression="#[payload.EventType__c == 'A08']">
				<transform doc:name="To HL7 ADT^A08">
					<dw:transform-message xmlns:dw="http://www.mulesoft.org/schema/mule/ee/dw">
						<dw:set-payload><![CDATA[
%dw 2.0
output text/plain
fun toHl7Name(last, first, middle) = (last default "PATIENT DECLINED") ++ "^" ++ (first default "PATIENT DECLINED") ++ "^" ++ (middle default "")
fun normGender(g) = (g as String {default:""} toUpperCase()) match { case "M" -> "M" case "F" -> "F" else -> "U" }
fun normLang(l) = (l default "EN") // Replace with code table if needed
---
(
	"MSH|^~\\&|HEALTHFUSION^1266378|NEXTGENOFFICE^1266378|FORESTHMS|FORESTHMS^1266378|" ++ now() as String {format: "yyyyMMddHHmmss"} ++ "||ADT^A08|" ++ (uuid() as String) ++ "|P|2.3" ++
	"\n" ++

	"PID|1|" ++ (payload.HealthFusion_Patient_Record_ID__c default "") ++ "|" ++ (payload.HealthFusion_Patient_Record_ID__c default "") ++ "|" ++
	("HF" ++ (payload.HealthFusion_Patient_Record_ID__c default "")) ++ "|" ++
	toHl7Name(payload.LastName__c, payload.FirstName__c, payload.MiddleName__c) ++ "||" ++
	(payload.Date_of_Birth__c default "") ++ "|" ++
	normGender(payload.Patient_Gender__c) ++ "||" ++
	(payload.Patient_Race__c default "PATIENT DECLINED") ++ "|" ++
	(payload.MailingStreet__c default "") ++ "^^" ++ (payload.MailingCity__c default "") ++ "^" ++ (payload.MailingState__c default "") ++ "^" ++ (payload.MailingPostalCode__c default "") ++ "|" ++
	"(" ++ (payload.Phone__c default "") ++ ")" ++ (payload.Phone__c default "") ++ "^^^" ++ (payload.Email__c default "") ++ "^^" ++ (payload.Phone__c default "") ++ "^" ++ (payload.PhoneNumberFormatted__c default "") ++ "||" ++
	normLang(payload.Language__c) ++ "|||||||" ++
	(payload.Patient_Ethnicity__c default "PATIENT DECLINED") ++
	"\n" ++

	"PV1|1|O|^^^1275017^^^^^FOREST HILLS||||||||1275017^^^1275017^^^^^FOREST HILLS|||||||||||||||||||||||N|||||1266378;FOREST HILLS MEDICAL SERVICES;FORESTHMS" ++
	"\n" ++

	"GT1|1|" ++ (payload.HealthFusion_Patient_Record_ID__c default "") ++ "|" ++ toHl7Name(payload.LastName__c, payload.FirstName__c, payload.MiddleName__c) ++ "||" ++
	(payload.MailingStreet__c default "") ++ "^^" ++ (payload.MailingCity__c default "") ++ "^" ++ (payload.MailingState__c default "") ++ "^" ++ (payload.MailingPostalCode__c default "") ++ "|" ++
	"(" ++ (payload.Phone__c default "") ++ ")" ++ (payload.Phone__c default "") ++ "^^^" ++ (payload.Email__c default "") ++ "^^" ++ (payload.Phone__c default "") ++ "^" ++ (payload.PhoneNumberFormatted__c default "") ++ "||" ++
	((payload.Date_of_Birth__c default "") ++ "000000") ++ "|" ++
	normGender(payload.Patient_Gender__c) ++ "||SELF|||||||||OTHER"
)
]]></dw:set-payload>
					</dw:transform-message>
				</transform>
				<file:write doc:name="Write HL7 ADT^A08" xmlns:file="http://www.mulesoft.org/schema/mule/file"
					path="target/hl7-out/adt_a08_#[now()].hl7" />
			</when>
			<otherwise>
				<logger level="WARN" doc:name="Unknown EventType - Skipped" message="Skipped payload, unknown EventType: #[payload.EventType__c]" />
			</otherwise>
		</choice>
	</flow>
</mule>
