sfnextgen-v2/.tooling-project/temp/sfnextgen-v210c4f3/src/main/mule/sfnextgen-v2.xml
<mule xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:file="http://www.mulesoft.org/schema/mule/file" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:salesforce="http://www.mulesoft.org/schema/mule/salesforce" xmlns:salesforce-pub-sub="http://www.mulesoft.org/schema/mule/salesforce-pub-sub" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:os="http://www.mulesoft.org/schema/mule/os" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd         http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd         http://www.mulesoft.org/schema/mule/salesforce http://www.mulesoft.org/schema/mule/salesforce/current/mule-salesforce.xsd         http://www.mulesoft.org/schema/mule/salesforce-pub-sub http://www.mulesoft.org/schema/mule/salesforce-pub-sub/current/mule-salesforce-pub-sub.xsd         http://www.mulesoft.org/schema/mule/os http://www.mulesoft.org/schema/mule/os/current/mule-os.xsd         http://www.mulesoft.org/schema/mule/file http://www.mulesoft.org/schema/mule/file/current/mule-file.xsd         http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
  <os:object-store name="Object_store" doc:name="Object store" doc:id="82694471-2954-4007-a7ec-0867b1f3a287" />
  <http:listener-config basePath="/" name="Listener-config">
   <http:listener-connection host="localhost" port="8081"></http:listener-connection>
  </http:listener-config>
  <salesforce-pub-sub:pubsub-config name="Pubsub-config">
		<salesforce-pub-sub:oauth-user-pass-connection consumerKey="3MVG9EJ2FoGDnkgX9daA9yPi8VoYEaz9vnyWVDSZrwD3XA_DXS_MnLW3YYPn.PBp3yj..tgpXlYUuwmp26VZF" consumerSecret="5CD87471A3A77F6527C2B9B1E100ED78C8C1A0623875E1822E84080BD0B47A63" username="cgainus@cokergroup.com.devchris" password="Mosby2350@#" tokenEndpoint="https://test.salesforce.com/services/oauth2/token" />
  
</salesforce-pub-sub:pubsub-config>
  <os:config name="ObjectStore_Config" doc:name="ObjectStore Config" doc:id="7fe1933b-2fe2-4d4a-aa54-2df63fcde2ac" />
  <configuration-properties file="config.properties" />
  <flow doc:id="91a16900-9ba2-4f7d-8ba0-c5701d4143dc" name="sfnextgen-v2Flow">
   <salesforce-pub-sub:subscribe-channel-listener channelName="/event/Contact__e" config-ref="Pubsub-config" doc:id="a84151b5-a96b-4cc8-ae95-a949183b8b85" doc:name="Subscribe channel listener">
    <salesforce-pub-sub:replay-option>
     <salesforce-pub-sub:latest/>
    </salesforce-pub-sub:replay-option>
   </salesforce-pub-sub:subscribe-channel-listener>


   <logger level="INFO" doc:name="Log Platform Event Payload" message="INCOMING PLATFORM EVENT PAYLOAD: #[write(payload, 'application/json')]"/>
   
   <set-variable variableName="sentToNextgen" value="${sent.to.nextgen}" doc:name="Set sentToNextgen"/>
   <choice doc:name="Route by EventType__c">
    <when expression="#[payload.event.Event_Type__c == 'A04']">
     <ee:transform doc:name="To HL7 ADT^A04">
      <ee:message>
       <ee:set-payload><![CDATA[
%dw 2.0
output text/plain

var event = payload.event
var idRaw = event.HealthFusion_Patient_Record_ID__c default ""
var id = if (upper(idRaw) startsWith "HF") idRaw[2 to -1] else idRaw
var useId = (id != null and id != "")
var dob =
    if ((event.Date_of_Birth__c default null) != null)
        ((event.Date_of_Birth__c) as Date {format: "MMMM dd, yyyy"}) as String {format:"yyyyMMdd"}
    else ""
var gt1dob = if (dob != "") dob ++ "000000" else ""
var hl7Name = upper(event.LastName__c default "") ++ "^" ++ upper(event.FirstName__c default "")
var normGender =
    if (upper(event.Patient_Gender__c default "") == "M") "M"
    else if (upper(event.Patient_Gender__c default "") == "F") "F"
    else "U"
var normLang = event.Language__c default "EN"
var patientRace = event.Patient_Race__c default "PATIENT DECLINED"
var patientEthnicity = event.Patient_Ethnicity__c default "PATIENT DECLINED"
var phone = event.Phone__c default ""
var email = event.Email__c default ""
var phoneFormatted = event.PhoneNumberFormatted__c default ""
var nicePhone =
    if (!isEmpty(phoneFormatted)) phoneFormatted
    else if (!isEmpty(phone) and sizeOf(phone) == 10)
        "(" ++ phone[0 to 2] ++ ")" ++ phone[3 to 5] ++ "-" ++ phone[6 to 9]
    else phone
var area = if (!isEmpty(phone) and sizeOf(phone) >= 3) phone[0 to 2] else ""
var rest = if (!isEmpty(phone) and sizeOf(phone) >= 7) phone[3 to 9] else ""
var contactInfo = nicePhone ++ "^^^" ++ (if (!isEmpty(email)) email else "") ++ "^^" ++ area ++ "^" ++ rest


---
(
"MSH|^~\\&|HEALTHFUSION^1266378|NEXTGENOFFICE^1266378|FORESTHMS|FORESTHMS^1266378|"
++ now() as String {format: "yyyyMMddHHmmss"}
++ "||ADT^A04|"
++ (now() as String {format:"yyyyMMddHHmmssSSS"}) ++ "|P|2.3"
++ "\nPID|1|"
++ (if (useId) id else "") ++ "|"  // PID-2
++ (if (useId) id else "") ++ "|"  // PID-3
++ (if (useId) "HF" ++ id else "") ++ "|" // PID-4
++ (
  upper(event.LastName__c default "") ++ "^" ++ upper(event.FirstName__c default "") ++ (if (!isEmpty(event.MiddleName__c default "")) "^" ++ (upper(event.MiddleName__c) default "") else "")
) ++ "|"  // Name field, middle name only if present
++ "|"                                 // PID-6 (Mother's maiden) blank if not present
++ dob ++ "|"                          // PID-7
++ normGender ++ "|"                   // PID-8
++ "|"                                 // PID-9
++ patientRace ++ "|"                  // PID-10
++ (
  upper(event.MailingStreet__c default "")
  ++ "^^"
  ++ upper(event.MailingCity__c default "") ++ "^"
  ++ upper(event.MailingState__c default "") ++ "^"
  ++ upper(event.MailingPostalCode__c default "")
) ++ "|" // PID-11 Address
++ contactInfo ++ "|"                  // PID-13 Phone/Email
++ "|"                                 // PID-14
++ upper(normLang) ++ "|"              // PID-15 Language
++ "|||||||"                           // PID-16-21 blanks
++ patientRace                         // PID-22
++ "\nPV1|1|O|^^^1275017^^^^^FOREST HILLS||||||||1275017^^^1275017^^^^^FOREST HILLS|||||||||||||||||||||||N|||||1266378;FOREST HILLS MEDICAL SERVICES;FORESTHMS"
++ "\nGT1|1|"
++ "1|"                                // GT1-1
++ (if (useId) id else "") ++ "|"      // GT1-2
++ (
  upper(event.LastName__c default "") ++ "^" ++ upper(event.FirstName__c default "") ++ (if (!isEmpty(event.MiddleName__c default "")) "^" ++ (upper(event.MiddleName__c) default "") else "")
) ++ "|"                             // GT1-3: name, no caret if no middle
++ "|"                               // GT1-4 blank
++ (
  upper(event.MailingStreet__c default "")
  ++ "^^"
  ++ upper(event.MailingCity__c default "") ++ "^"
  ++ upper(event.MailingState__c default "") ++ "^"
  ++ upper(event.MailingPostalCode__c default "")
) ++ "|" // GT1-5: address
++ contactInfo ++ "|"                // GT1-6: phone/email (all carets)
++ "|"                               // GT1-7 blank
++ gt1dob ++ "|"                     // GT1-8 DOB
++ normGender ++ "|"                 // GT1-9
++ "|"                               // GT1-10 blank
++ "OTHER"                           // GT1-11 Relationship: OTHER
)
]]></ee:set-payload>
     </ee:message>
    </ee:transform>
    <logger level="INFO" doc:name="HL7 Message Logger" message="HL7 MESSAGE GENERATED:&#10;#[payload]"/>
    <choice doc:name="NextGen Switch">
     <when expression="#[vars.sentToNextgen]">
      <logger level="INFO" doc:name="NextGen Outbound" message="Sending HL7 message to NextGen API, switch is ON"/>
      <!-- Outbound flow would go here. Add HTTP request or call as needed. -->
     </when>
     <otherwise>
      <logger level="INFO" doc:name="NextGen Outbound" message="Not sending HL7 message to NextGen API, switch is OFF. HL7 message was logged to console only."/>
     </otherwise>
    </choice>
   </when>
   <when expression="#[payload.event.Event_Type__c == 'A08']">
    <ee:transform doc:name="To HL7 ADT^A08">
     <ee:message>
      <ee:set-payload><![CDATA[
%dw 2.0
output text/plain

var event = payload.event
var idRaw = event.HealthFusion_Patient_Record_ID__c default ""
var id = if (upper(idRaw) startsWith "HF") idRaw[2 to -1] else idRaw
var useId = (id != null and id != "")
var dob =
    if ((event.Date_of_Birth__c default null) != null)
        ((event.Date_of_Birth__c) as Date {format: "MMMM dd, yyyy"}) as String {format:"yyyyMMdd"}
    else ""
var gt1dob = if (dob != "") dob ++ "000000" else ""
var middleName = event.MiddleName__c default ""
var hl7Name = upper(event.LastName__c default "") ++ "^" ++ upper(event.FirstName__c default "") ++ (if (!isEmpty(event.MiddleName__c default "")) "^" ++ ("" ++ upper(event.MiddleName__c default "")) else "")
var normGender =
    if (upper(event.Patient_Gender__c default "") == "M") "M"
    else if (upper(event.Patient_Gender__c default "") == "F") "F"
    else "U"
var normLang = event.Language__c default "EN"
var patientRace = event.Patient_Race__c default "PATIENT DECLINED"
var patientEthnicity = event.Patient_Ethnicity__c default "PATIENT DECLINED"
var phone = event.Phone__c default ""
var email = event.Email__c default ""
var phoneFormatted = event.PhoneNumberFormatted__c default ""
var nicePhone =
    if (!isEmpty(phoneFormatted)) phoneFormatted
    else if (!isEmpty(phone) and sizeOf(phone) == 10)
        "(" ++ phone[0 to 2] ++ ")" ++ phone[3 to 5] ++ "-" ++ phone[6 to 9]
    else phone
var area = if (!isEmpty(phone) and sizeOf(phone) >= 3) phone[0 to 2] else ""
var rest = if (!isEmpty(phone) and sizeOf(phone) >= 7) phone[3 to 9] else ""
var contactInfo = nicePhone ++ "^^^" ++ (if (!isEmpty(email)) email else "") ++ "^^" ++ area ++ "^" ++ rest

---
(
"MSH|^~\\&|HEALTHFUSION^1266378|NEXTGENOFFICE^1266378|FORESTHMS|FORESTHMS^1266378|"
++ now() as String {format: "yyyyMMddHHmmss"}
++ "||ADT^A08|"
++ upper(uuid() as String)
++ "|P|2.3"
++ "\nPID|1|"
++ (if (useId) id else "") ++ "|"
++ (if (useId) id else "") ++ "|"
++ (if (useId) "HF" ++ id else "HF") ++ "|"
++ hl7Name ++ "|"
++ "|" // PID-6 blank (mother's maiden name)
++ dob ++ "|"
++ normGender ++ "||"
++ patientRace ++ "|"
++ (event.MailingStreet__c default "") ++ "^^"
++ (event.MailingCity__c default "") ++ "^"
++ (event.MailingState__c default "") ++ "^"
++ (event.MailingPostalCode__c default "") ++ "|"
++ contactInfo ++ "||"
++ normLang ++ "|||||||"
++ patientEthnicity
++ "\nPV1|1|O|^^^1275017^^^^^FOREST HILLS||||||||1275017^^^1275017^^^^^FOREST HILLS|||||||||||||||||||||||N|||||1266378;FOREST HILLS MEDICAL SERVICES;FORESTHMS"
++ "\nGT1|1|"
++ (if (useId) id else "") ++ "|" // GT1-2
++ hl7Name ++ "|"
++ "|" // GT1-4 blank
++ (event.MailingStreet__c default "") ++ "^^"
++ (event.MailingCity__c default "") ++ "^"
++ (event.MailingState__c default "") ++ "^"
++ (event.MailingPostalCode__c default "") ++ "|"
++ contactInfo ++ "||"
++ gt1dob ++ "|"
++ normGender ++ "||OTHER"
)
]]></ee:set-payload>
     </ee:message>
    </ee:transform>
    <logger level="INFO" doc:name="HL7 Message Logger" message="HL7 MESSAGE GENERATED:&#10;#[payload]"/>
    <choice doc:name="NextGen Switch">
     <when expression="#[vars.sentToNextgen]">
      <logger level="INFO" doc:name="NextGen Outbound" message="Sending HL7 message to NextGen API, switch is ON"/>
      <!-- Outbound flow would go here. Add HTTP request or call as needed. -->
     </when>
     <otherwise>
      <logger level="INFO" doc:name="NextGen Outbound" message="Not sending HL7 message to NextGen API, switch is OFF. HL7 message was logged to console only."/>
     </otherwise>
    </choice>
   </when>
   <otherwise>
    <logger doc:name="Unknown EventType - Skipped" level="WARN" message="Skipped payload, unknown EventType: #[payload.event.Event_Type__c]"></logger>
   </otherwise>
  </choice>
 </flow>

 <flow name="NextGenServiceAppointment__e_SIU">
   <!-- Begin NextGenServiceAppointment__e SIU Handler -->
   <salesforce-pub-sub:subscribe-channel-listener channelName="/event/NextGenServiceAppointment__e" config-ref="Pubsub-config" doc:name="Subscribe NextGenServiceAppointment__e">
     <salesforce-pub-sub:replay-option>
       <salesforce-pub-sub:latest/>
     </salesforce-pub-sub:replay-option>
   </salesforce-pub-sub:subscribe-channel-listener>
   <logger level="INFO" doc:name="Log NextGenServiceAppointment__e Payload" message="INCOMING NEXTGEN SERVICE APPOINTMENT: #[write(payload, 'application/json')]"/>
   <set-variable variableName="sentToNextgen" value="${sent.to.nextgen}" doc:name="Set sentToNextgen"/>
   <choice doc:name="Route by EventType__c">
     <when expression="#[payload.event.Event_Type__c == 'S12']">
       <ee:transform doc:name="To HL7 SIU^S12">
         <ee:message>
           <ee:set-payload><![CDATA[%dw 2.0  
output text/plain  
  
import * from dw::core::Strings  
  
var e = payload.event  
  
// Helper Functions  
// Helper Functions
fun mustHave(val) = if (val == null or val == "") "" else val
  
// HL7 IDs  
var rawPid = mustHave(e.Patient_ID__c)
var pid = if((upper(rawPid) startsWith "HF")) rawPid[2 to -1] else rawPid  
  
var lastName = mustHave(e.Patient_Last_Name__c)
var firstName = mustHave(e.Patient_First_Name__c)
var dobNum = mustHave(e.Patient_DOB__c)
var dob = ((dobNum as Number) as Date) as String {format: "yyyyMMdd"}  
  
var genderRaw = mustHave(e.Patient_Gender__c)
var hl7Gender =   
    if (upper(genderRaw) == "FEMALE" or upper(genderRaw) == "F") "F"  
    else if (upper(genderRaw) == "MALE" or upper(genderRaw) == "M") "M"  
    else "U"  
  
var providerNpi = mustHave(e.Provider_NPI__c)
var providerLast = mustHave(e.Provider_Last_Name__c)
var providerFirst = mustHave(e.Provider_First_Name__c)
var locationId = mustHave(e.Location_ID__c)
var locationName = mustHave(e.Location_Name__c)
  
var schPlacer = mustHave(e.Placer_Appointment_ID__c)
  
var schFiller = if (e.NextGen_ID__c != null and e.NextGen_ID__c != "") e.NextGen_ID__c   
                else schPlacer  
  
var apptType = mustHave(e.Appointment_Type__c)
var apptReason = mustHave(e.Appointment_Reason__c)
var duration = mustHave(e.Duration_Value__c)
  
var startEpoch = mustHave(e.Start_DateTime__c) as Number
var endEpoch = mustHave(e.End_DateTime__c) as Number
var schStart = (startEpoch as DateTime) as String {format:"yyyyMMddHHmmss"}  
var schEnd = (endEpoch as DateTime) as String {format:"yyyyMMddHHmmss"}  
  
// Patient Address  
var street = mustHave(e.Patient_Street__c)
var city = mustHave(e.Patient_City__c)
var state = mustHave(e.Patient_State__c)
var zip = mustHave(e.Patient_Zip__c)
  
// Language: fallback to EN per HL7 spec for NextGen - but you can error if really required  
var language = e.Patient_Language__c default "EN"  
  
// Phone Formatting  
var phone = mustHave(e.Patient_Phone__c)
var area = phone[0 to 2]  
var rest = phone[3 to 9]  
var phoneFormatted = "(" ++ area ++ ")" ++ rest[0 to 2] ++ "-" ++ rest[3 to 6]  
  
var pid13 =   
    if (sizeOf(phone) == 10 and phone ~= /[0-9]{10}/)  
        phoneFormatted ++ "^^^^^" ++ area ++ "^" ++ rest  
    else  
                ""
  
// Status (always NEW for S12)  
var status = "NEW"  
  
---  
(  
"MSH|^~\\&|HEALTHFUSION^1266378|NEXTGENOFFICE^1266378|FORESTHMS|FORESTHMS^1266378|" ++  
(now() as String {format:"yyyyMMddHHmmss"}) ++  
"||SIU^S12|" ++ schFiller ++ "|P|2.3" ++  
"\nSCH|" ++ schPlacer ++ "|" ++ schFiller ++ "||||" ++ apptType ++ "|" ++ apptReason ++ "|" ++ apptType ++ "|" ++ duration ++ "|MIN|^^^" ++ schStart ++ "^" ++ schEnd ++ "|||||" ++ providerNpi ++ "^" ++ providerLast ++ "^" ++ providerFirst ++ "|||||||||" ++ status ++  
"\nPID|1|" ++ pid ++ "|" ++ pid ++ "|HF" ++ pid ++ "|" ++ upper(lastName) ++ "^" ++ upper(firstName) ++ "||" ++ dob ++ "|" ++ hl7Gender ++ "||PATIENT DECLINED|" ++ street ++ "^^" ++ upper(city) ++ "^" ++ upper(state) ++ "^" ++ zip ++ "|" ++ pid13 ++ "||" ++ language ++ "|||||||PATIENT DECLINED" ++  
"\nPV1|1|O|^^^" ++ locationId ++ "^^^^^" ++ upper(locationName) ++ "||||" ++ providerNpi ++ "^" ++ providerLast ++ "^" ++ providerFirst ++ "||||1275017^^^1275017^^^^^FOREST HILLS||||||||" ++ schFiller ++ "||||||||||||||||||||1266378;FOREST HILLS MEDICAL SERVICES;FORESTHMS|||||" ++ schStart ++ "|" ++ schEnd ++  
"\nRGS|" ++  
"\nAIL|1||" ++ locationId ++ "^^^" ++ upper(locationName) ++  
"\nAIP|1||" ++ providerNpi ++ "^" ++ providerLast ++ "^" ++ providerFirst  
)  ]]></ee:set-payload>
         </ee:message>
       </ee:transform>
       <logger level="INFO" doc:name="HL7 Message Logger" message="HL7 MESSAGE GENERATED:&#10;#[payload]"/>
       <choice doc:name="NextGen Switch">
         <when expression="#[vars.sentToNextgen]">
           <!-- Send HL7 to NextGen API -->
           <logger level="INFO" doc:name="NextGen Outbound" message="Sending HL7 message to NextGen API, switch is ON"/>
         </when>
         <otherwise>
           <logger level="INFO" doc:name="NextGen Outbound" message="Not sending HL7 message to NextGen API, switch is OFF. HL7 message was logged to console only."/>
         </otherwise>
       </choice>
     </when>

     <when expression="#[payload.event.Event_Type__c == 'S15']">
       <ee:transform doc:name="To HL7 SIU^S15">
         <ee:message>
           <ee:set-payload><![CDATA[%dw 2.0  
output text/plain  
  
var pe = payload.event  
  
var apptId        = (pe.NextGen_ID__c default "") as String  
var pidRaw        = (pe.Patient_ID__c default "") as String  
var pid           = if (upper(pidRaw) startsWith "HF") pidRaw[2 to -1] else pidRaw  
  
// DOB: Now a Date number  
var dob           = (pe.Patient_DOB__c as Date) as String {format:"yyyyMMdd"}  
  
// Gender  
var genderRaw     = (pe.Patient_Gender__c default "") as String  
var gender =  
  if (genderRaw == "Female") "F"  
  else if (genderRaw == "Male") "M"  
  else "U"  
  
// --- PHONE NUMBER SECTION ---  
var phone         = (pe.Patient_Phone__c default "") as String  
var isGoodPhone   = sizeOf(phone) == 10 and phone ~= /[0-9]{10}/  
var phoneFormatted = if (isGoodPhone)  
    "(" ++ phone[0 to 2] ++ ")" ++ phone[3 to 5] ++ "-" ++ phone[6 to 9]  
  else  
    phone  
var area  = if (isGoodPhone) phone[0 to 2] else ""  
var rest  = if (isGoodPhone) phone[3 to 9] else ""  
var contactInfo = if (isGoodPhone)  
    phoneFormatted ++ "^^^" ++ "^^" ++ area ++ "^" ++ rest  
  else  
    phone ++ "^^^^^^"  
// --------------------------------------  
  
// Status  
var statusRaw     = (pe.Appointment_Status__c default "") as String  
var status =  
  if (statusRaw == "Cancelled by Provider") "CANCELLED"  
  else if (statusRaw == "No Show") "NO SHOW"  
  else if (statusRaw == "RESCHEDULED") "RESCHEDULED"  
  else if (statusRaw == "Checked Out") "CHECKED OUT"  
  else if (statusRaw == "Checked In") "CHECKED IN"  
  else if (statusRaw == "Scheduled") "NEW"  
  else statusRaw  
  
// Start/End as DateTime numbers (epoch ms)  
var schStart      = pe.Start_DateTime__c as DateTime  
var schStartStr   = (schStart as String {format:"yyyyMMddHHmmss"})  
var schEnd        = pe.End_DateTime__c as DateTime  
var schEndStr     = (schEnd as String {format:"yyyyMMddHHmmss"})  
  
var providerNpi   = (pe.Provider_NPI__c default "") as String  
var providerLast  = upper((pe.Provider_Last_Name__c default "") as String)  
var providerFirst = upper((pe.Provider_First_Name__c default "") as String)  
var apptType      = upper((pe.Appointment_Type__c default "") as String)  
var apptReason    = (pe.Appointment_Reason__c default "") as String  
var locationId    = (pe.Location_ID__c default "") as String  
var locationName  = upper((pe.Location_Name__c default "") as String)  
var patientLast   = upper((pe.Patient_Last_Name__c default "") as String)  
var patientFirst  = upper((pe.Patient_First_Name__c default "") as String)  
var language      = upper((pe.Patient_Language__c default "EN") as String)  
var patientStreet = upper((pe.Patient_Street__c default "") as String)  
var patientCity   = upper((pe.Patient_City__c default "") as String)  
var patientState  = upper((pe.Patient_State__c default "") as String)  
var patientZip    = upper((pe.Patient_Zip__c default "") as String)  
var durationRaw   = (pe.Duration_Value__c default "") as String  
  
---  
(  
  "MSH|^~\\&|HEALTHFUSION^1266378|NEXTGENOFFICE^1266378|FORESTHMS|FORESTHMS^1266378|" ++  
  now() as String {format:"yyyyMMddHHmmss"} ++  
  "||SIU^S15|" ++ apptId ++ "|P|2.3" ++  
  
  "\nSCH||" ++ apptId ++ "||||" ++ apptType ++ "|" ++ apptReason ++ "|" ++ apptType ++ "|" ++ durationRaw ++ "|MIN|" ++ "^^^" ++ schStartStr ++ "^" ++ schEndStr ++ "|||||" ++ providerNpi ++ "^" ++ providerLast ++ "^" ++ providerFirst ++ "|||||||||" ++ status ++  
  
  "\nPID|1|" ++ pid ++ "|" ++ pid ++ "|HF" ++ pid ++ "|" ++ patientLast ++ "^" ++ patientFirst ++ "|" ++ "|" ++ dob ++ "|" ++ gender ++ "|" ++ "|" ++ "PATIENT DECLINED|" ++ patientStreet ++ "^^" ++ patientCity ++ "^" ++ patientState ++ "^" ++ patientZip ++ "|" ++ contactInfo ++ "||" ++ language ++ "|||||||PATIENT DECLINED" ++  
  
  "\nPV1|1|O|^^^" ++ locationId ++ "^^^^^" ++ locationName ++ "||||" ++ providerNpi ++ "^" ++ providerLast ++ "^" ++ providerFirst ++ "||||1275017^^^1275017^^^^^FOREST HILLS||||||||" ++ apptId ++ "||||||||||||||||||||1266378;FOREST HILLS MEDICAL SERVICES;FORESTHMS|||||" ++ schStartStr ++ "|" ++ schEndStr ++  
  
  "\nRGS|" ++  
  
  "\nAIL|1||" ++ locationId ++ "^^^" ++ locationName ++  
  
  "\nAIP|1||" ++ providerNpi ++ "^" ++ providerLast ++ "^" ++ providerFirst  
)]]></ee:set-payload>
         </ee:message>
       </ee:transform>
       <logger level="INFO" doc:name="HL7 Message Logger" message="HL7 MESSAGE GENERATED:&#10;#[payload]"/>
       <choice doc:name="NextGen Switch">
         <when expression="#[vars.sentToNextgen]">
           <!-- Send HL7 to NextGen API -->
           <logger level="INFO" doc:name="NextGen Outbound" message="Sending HL7 message to NextGen API, switch is ON"/>
         </when>
         <otherwise>
           <logger level="INFO" doc:name="NextGen Outbound" message="Not sending HL7 message to NextGen API, switch is OFF. HL7 message was logged to console only."/>
         </otherwise>
       </choice>
     </when>

     <otherwise>
       <logger doc:name="Debug Payload Type" level="WARN" message="(DEBUG) Payload type: #[payload.class], value: #[payload]"/>
       <logger doc:name="Unknown EventType - Skipped" level="WARN" message="Skipped NextGenServiceAppointment__e: unknown EventType: #[payload.event.Event_Type__c]"></logger>
     </otherwise>
   </choice>
   <!-- End NextGenServiceAppointment__e SIU Handler -->
 </flow>
</mule>

