viva-sf-ng-outbound-papi/.tooling-project/cached/viva-sf-ng-outbound-papi/src/main/mule/common-request-flow.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:vm="http://www.mulesoft.org/schema/mule/vm" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/vm http://www.mulesoft.org/schema/mule/vm/current/mule-vm.xsd">
	<sub-flow name="commonRequestFlow" doc:id="51fb3c62-0787-4c96-959f-506b8432d17f" >
		<try doc:name="Try" doc:id="60d50a3d-f06f-47a3-ba08-f2385dfc1fc0" >
			<!-- 1. Log the raw input payload -->
			<logger level="INFO" doc:name="1. Raw Input Payload"
					message="RAW INPUT PAYLOAD - CorrelationId: #[vars.correlationId default 'NONE'], EventType: #[vars.eventType default 'UNKNOWN'], Raw Size: #[sizeOf(payload)]"/>
			
			<ee:transform doc:name="transformedPayload" doc:id="7ece1d42-70e6-4391-84e2-e7d3bfcb6836">
				<ee:message>
					<ee:set-payload><![CDATA[%dw 2.0
output text/plain
---
payload replace "\r" with ""]]></ee:set-payload>
				</ee:message>
			</ee:transform>
			
			<!-- 2. Log after carriage return replacement -->
			<logger level="INFO" doc:name="2. After CR Replacement"
					message="AFTER CR REPLACEMENT - Changed Size: #[sizeOf(payload)]"/>
			
			<ee:transform doc:name="HL7Message" doc:id="823441a1-59b5-43cf-8384-157c70bd26e3">
				<ee:message>
				</ee:message>
				<ee:variables >
					<ee:set-variable variableName="hl7Payload" ><![CDATA[%dw 2.0
output text/plain
---
payload
	   replace "SCH|" with ",SCH|"
	   replace "PID|" with ",PID|"
	   replace "AIL|" with ",AIL|"
	   replace "AIP|" with ",AIP|" replace   "," with "\n"]]></ee:set-variable>
				</ee:variables>
			</ee:transform>
			
			<!-- 3. Log after HL7 segment transformation -->
			<logger level="INFO" doc:name="3. HL7 Segment Transformation"
					message="HL7 SEGMENTS TRANSFORMED - Message type: #[(vars.hl7Payload scan /MSH\|([^\|]*\|){8}([^\|]*)/)[0][2] default 'unknown'], Segments: PID=#[(vars.hl7Payload contains 'PID|')], SCH=#[(vars.hl7Payload contains 'SCH|')], AIL=#[(vars.hl7Payload contains 'AIL|')], AIP=#[(vars.hl7Payload contains 'AIP|')]"/>
			
			<!-- 4. Log specific PID segment details for address issue analysis -->
<ee:transform doc:name="PID Analysis Transform">
    <ee:message />
    <ee:variables>
        <ee:set-variable variableName="mshSegment"><![CDATA[%dw 2.0
output application/java
---
(vars.hl7Payload scan /MSH\|([^\r\n]*)/)[0][0] default "Not found"
]]></ee:set-variable>
        <ee:set-variable variableName="pidSegment"><![CDATA[%dw 2.0
output application/java
---
(vars.hl7Payload scan /PID\|([^\r\n]*)/)[0][0] default "Not found"
]]></ee:set-variable>
        <ee:set-variable variableName="hasPid11"><![CDATA[%dw 2.0
output application/java
---
vars.hl7Payload contains "PID-11"
]]></ee:set-variable>
        <ee:set-variable variableName="addressRaw"><![CDATA[%dw 2.0
output application/java
---
(vars.hl7Payload scan /PID\|([^\|]*\|){10}([^\|]*)/)[0][2] default "not found"
]]></ee:set-variable>
        <ee:set-variable variableName="containsNewline"><![CDATA[%dw 2.0
output application/java
---
((vars.hl7Payload scan /PID\|([^\|]*\|){10}([^\|]*)/)[0][2] default "") contains "\\X0A\\"
]]></ee:set-variable>
    </ee:variables>
</ee:transform>
<logger level="INFO" doc:name="4. PID Address Analysis"
        message="#[%dw 2.0 
output application/json 
---
{
  'MSH': vars.mshSegment,
  'PID': vars.pidSegment,
  'PID_11_analysis': {
    'has_PID11': vars.hasPid11,
    'address_raw': vars.addressRaw,
    'contains_newline': vars.containsNewline
  }
}]"/>
			
			<!-- 5. Log before deciding whether to send or not -->
			<logger level="INFO" doc:name="5. Pre-Send Decision"
					message="HL7 MESSAGE READY FOR SENDING - Send enabled: ${nextgen.send.enabled}, EventType: #[vars.eventType], Size: #[sizeOf(vars.hl7Payload)], Message snippet: #[%dw 2.0 output application/json --- (vars.hl7Payload[0 to 199] default vars.hl7Payload) ++ '...']"/>
			
			<!-- 6. Toggle implementation -->
			<choice doc:name="Send or Just Log">
				<when expression="#[p('nextgen.send.enabled') == 'true']">
					<logger level="INFO" doc:name="6a. Sending to NextGen"
							message="SENDING TO NEXTGEN - Host: ${request.host}, Port: ${request.port}, Path: ${request.path}"/>
							
					<http:request method="POST" doc:name="callToSapi" doc:id="87ffaa36-32c0-4024-955f-6e4b0ab4097f" config-ref="HTTP_Request_configuration" path="${request.path}" outputMimeType="text/plain" sendBodyMode="ALWAYS" responseTimeout="60000">
						<http:body><![CDATA[#[output text/plain
---
vars.hl7Payload]]]></http:body>
						<http:headers><![CDATA[#[output application/java
---
{
	"eventtype" : vars.eventType
}]]]></http:headers>
					</http:request>
					
					<!-- 7a. Log after successful send -->
					<logger level="INFO" doc:name="7a. NextGen Response"
							message="NEXTGEN RESPONSE - Status: #[attributes.statusCode default 'UNKNOWN'], Body: #[payload]"/>
				</when>
				<otherwise>
					<!-- 6b. Log when sending is disabled -->
					<logger level="INFO" doc:name="6b. Message Not Sent - Logging Only"
							message="HL7 MESSAGE NOT SENT (sending disabled) - Complete HL7 Message: #[vars.hl7Payload]"/>
							
					<ee:transform doc:name="Create Mock Response">
						<ee:message>
							<ee:set-payload><![CDATA[%dw 2.0
output text/plain
---
"Message Logged Only - Mock Response (${mule.env} environment with nextgen.send.enabled=${nextgen.send.enabled})"]]></ee:set-payload>
						</ee:message>
					</ee:transform>
					
					<!-- 7b. Log mock response -->
					<logger level="INFO" doc:name="7b. Mock Response"
							message="MOCK RESPONSE CREATED: #[payload]"/>
				</otherwise>
			</choice>
			
			<error-handler >
				<on-error-continue enableNotifications="true" logException="true" doc:name="On Error Continue" doc:id="2b510989-6581-4b8b-bd6b-aab47ce67cd4" type="HTTP:CONNECTIVITY,HTTP:GATEWAY_TIMEOUT">
					<logger level="INFO" doc:name="Logger" doc:id="e509bf28-5c40-4248-a413-9a2af8a68de3" message="message sending to queue"/>
					<ee:transform doc:name="HL7Message" doc:id="4c0dc3c1-a03d-4e1f-a654-4501e935abe4" >
						<ee:message >
							<ee:set-payload ><![CDATA[%dw 2.0
output text/plain
---
vars.hl7Payload]]></ee:set-payload>
						</ee:message>
					</ee:transform>
					<try doc:name="Try" doc:id="cc307be9-d148-43cd-89b1-5cc512e6d268" >
						<vm:publish doc:name="publishingtoQueue" doc:id="ec3f73e5-a613-4709-8335-5c89e428994f" config-ref="VM_Config" sendCorrelationId="ALWAYS" queueName="sfqueue" />
						<error-handler >
							<on-error-continue enableNotifications="false" logException="true" doc:name="On Error Continue" doc:id="e4ace3ca-bda1-4598-84c4-5903acfda2f7" type="VM:QUEUE_TIMEOUT"/>
						</error-handler>
					</try>
				</on-error-continue>
			</error-handler>
		</try>
		
		<!-- 8. Final logging -->
		<logger level="INFO" doc:name="8. Common Flow Exit"
				message="COMMON FLOW EXIT - CorrelationId: #[vars.correlationId default 'NONE'], EventType: #[vars.eventType default 'UNKNOWN'], Success: #[not (payload contains 'Error')]"/>
	</sub-flow>
	<flow name="reprocessingFlow" doc:id="e9de60db-fbde-4b95-8d39-1ec1099bf0e4" >
		<scheduler doc:name="Scheduler" doc:id="7afd4158-9039-4b73-abd3-c7981aae23be" >
			<scheduling-strategy >
				<fixed-frequency frequency="5" timeUnit="MINUTES"/>
			</scheduling-strategy>
		</scheduler>
		<try doc:name="Try" doc:id="f5c6002a-a400-47fd-8994-bca2ac23f2b4" >
			<vm:consume doc:name="Consume" doc:id="a4f837cb-dbb8-4661-823a-5f80fce9034b" config-ref="VM_Config" queueName="sfqueue" timeout="1" timeoutUnit="HOURS"/>
			<error-handler>
				<on-error-continue enableNotifications="false" logException="true" doc:name="On Error Continue" doc:id="97cc4485-ac3b-40ea-8ef5-19c251cfc7b9" type="VM:EMPTY_QUEUE"/>
			</error-handler>
		</try>
		<choice doc:name="Choice" doc:id="16bb2cfd-8709-4c17-be17-3a66aeb81597" >
			<when expression="#[!isEmpty(payload)]">
				<ee:transform doc:name="HL7Message" doc:id="b8dac1cf-f68e-4aef-b6d9-9bd50bc0afc0" >
					<ee:message >
						<ee:set-payload ><![CDATA[%dw 2.0
output text/plain
---
payload]]></ee:set-payload>
					</ee:message>
				</ee:transform>
				<flow-ref doc:name="reprocessingtoSapiFlow" doc:id="7d5fef19-7817-4d1a-b9f3-1c63f7434fb6" name="commonRequestFlow"/>
			</when>
		</choice>
	</flow>
</mule>
