viva-sf-ng-outbound-papi/.tooling-project/cached/viva-sf-ng-outbound-papi/src/main/mule/errorhandler.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:email="http://www.mulesoft.org/schema/mule/email"
	xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/email http://www.mulesoft.org/schema/mule/email/current/mule-email.xsd">
	<error-handler name="error-handler"
		doc:id="a787d01e-afc5-410b-901c-03da262ac615">
		
		<on-error-propagate enableNotifications="true" logException="true" doc:name="On Error Propagate" doc:id="07621049-cd20-422b-a0af-3e44a798a256" type="SALESFORCE:CONNECTIVITY, SALESFORCE:INVALID_INPUT, SALESFORCE:INVALID_RESPONSE, SALESFORCE:LIMIT_EXCEEDED, SALESFORCE:MUTUAL_AUTHENTICATION_FAILED, SALESFORCE:NOT_FOUND, SALESFORCE:RETRY_EXHAUSTED, SALESFORCE:TIMEOUT">
			<!-- Enhanced structured logging -->
			<logger level="ERROR" doc:name="Salesforce Error Logger" 
					message="#[%dw 2.0 
					output application/json 
					--- 
					{
						errorType: error.errorType.identifier default 'UNKNOWN_SALESFORCE_ERROR',
						errorCategory: 'SALESFORCE',
						correlationId: vars.correlationId default '',
						transactionId: vars.transactionId default '',
						timestamp: now() as String {format: 'yyyy-MM-dd HH:mm:ss.SSS'},
						description: error.description default 'Unknown Salesforce error',
						detailedDescription: error.detailedDescription default '',
						eventType: vars.eventType default 'UNKNOWN'
					}]"/>
					
			<ee:transform doc:name="SF Errors" doc:id="a3fb769c-3c31-4dc5-bc45-66a7d58fa1d9" >
				<ee:message >
					<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
if(!isEmpty(error.errorMessage.payload) and !isEmpty(error.errorMessage.payload.errorOrigin)) 
	error.errorMessage.payload
else { 
  "messages": if(error.cause.errorMessage.payload.messages != null) (error.cause.errorMessage.payload.messages) else error.description,
  "errorOrigin": p('application.name'),
  "status": "ERROR",
  "code": error.errorType.asString default error.errorMessage.attributes.statusCode,
  "description": error.detailedDescription,
  "correlationId": vars.correlationId default "",
  "timestamp": now() >> "America/Chicago" as String {format: "yyyy-MM-dd'T'HH:mm:ss.SSS"},
  "outputPayload": payload default ""
}]]></ee:set-payload>
				</ee:message>
			</ee:transform>
			<flow-ref doc:name="Flow Reference to error Email" doc:id="9ef96b83-e273-4ec9-b164-20b390483119" name="impl-error-email-flow" />
			<flow-ref doc:name="error-handler-exit" doc:id="43cd96ed-5628-4796-a492-687127e1da12" name="error-handler-exit"/>
		</on-error-propagate>
		
		<on-error-propagate enableNotifications="true" logException="true" doc:name="On Error Propagate" doc:id="3ea48fef-e3ed-4467-94cd-ad8616e2aac0" type="HTTP:BAD_GATEWAY, HTTP:BAD_REQUEST, HTTP:CLIENT_SECURITY, HTTP:CONNECTIVITY, HTTP:INTERNAL_SERVER_ERROR, HTTP:METHOD_NOT_ALLOWED, HTTP:NOT_ACCEPTABLE, HTTP:RETRY_EXHAUSTED, HTTP:SECURITY, HTTP:SERVICE_UNAVAILABLE, HTTP:TIMEOUT, HTTP:TOO_MANY_REQUESTS, HTTP:UNSUPPORTED_MEDIA_TYPE, STREAM_MAXIMUM_SIZE_EXCEEDED" >
			<!-- Enhanced structured logging -->
			<logger level="ERROR" doc:name="HTTP Error Logger" 
					message="#[%dw 2.0 
					output application/json 
					--- 
					{
						errorType: error.errorType.identifier default 'UNKNOWN_HTTP_ERROR',
						errorCategory: 'HTTP',
						correlationId: vars.correlationId default '',
						transactionId: vars.transactionId default '',
						timestamp: now() as String {format: 'yyyy-MM-dd HH:mm:ss.SSS'},
						description: error.description default 'Unknown HTTP error',
						detailedDescription: error.detailedDescription default '',
						statusCode: error.errorMessage.attributes.statusCode default 'UNKNOWN',
						eventType: vars.eventType default 'UNKNOWN',
						targetSystem: p('target') default 'UNKNOWN'
					}]"/>
					
			<ee:transform doc:name="HTTPErrors" doc:id="84bff8cc-32c6-4e48-926f-718714d6e86b" >
				<ee:message >
					<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
if(!isEmpty(error.errorMessage.payload) and !isEmpty(error.errorMessage.payload.errorOrigin)) 
	error.errorMessage.payload
else { 
  "messages": if(error.cause.errorMessage.payload.messages != null) (error.cause.errorMessage.payload.messages) else error.description,
  "errorOrigin": p('application.name'),
  "status": "ERROR",
  "code": error.errorType.asString default error.errorMessage.attributes.statusCode,
  "description": error.detailedDescription,
  "correlationId": vars.correlationId default "",
  "timestamp": now() >> "America/Chicago" as String {format: "yyyy-MM-dd'T'HH:mm:ss.SSS"},
  "outputPayload": payload default ""
}]]></ee:set-payload>
				</ee:message>
				<ee:variables >
					<ee:set-variable variableName="httpStatus" ><![CDATA[error.errorMessage.attributes.statusCode default "500"]]></ee:set-variable>
				</ee:variables>
			</ee:transform>
			<flow-ref doc:name="Flow Reference to error Email" doc:id="24c9e235-d531-418d-b769-55e9aae41a5e" name="impl-error-email-flow" />
			<flow-ref doc:name="error-handler-exit" doc:id="55aa7093-4819-4f54-8e3b-4c56e94bed33" name="error-handler-exit" />
		</on-error-propagate>
		
		<on-error-propagate enableNotifications="true" logException="true" doc:name="On Error Propagate" doc:id="ca7f498e-5871-4fb4-b79e-09b7938096b3" type="OS:KEY_NOT_FOUND, OS:CONNECTIVITY, OS:STORE_NOT_AVAILABLE">
			<!-- Object Store Error Handler -->
			<logger level="ERROR" doc:name="Object Store Error Logger" 
					message="#[%dw 2.0 
					output application/json 
					--- 
					{
						errorType: error.errorType.identifier default 'UNKNOWN_OBJECTSTORE_ERROR',
						errorCategory: 'OBJECTSTORE',
						correlationId: vars.correlationId default '',
						transactionId: vars.transactionId default '',
						timestamp: now() as String {format: 'yyyy-MM-dd HH:mm:ss.SSS'},
						description: error.description default 'Object Store error',
						detailedDescription: error.detailedDescription default '',
						eventType: vars.eventType default 'UNKNOWN',
						key: error.exception.info.key default 'UNKNOWN_KEY'
					}]"/>
					
			<ee:transform doc:name="OS Errors">
				<ee:message>
					<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  "messages": "Object Store error: " ++ (error.description default "Unknown error"),
  "errorOrigin": p('application.name'),
  "status": "ERROR",
  "code": error.errorType.asString,
  "description": "Failed to access Object Store mapping. Key: " ++ (error.exception.info.key default "unknown"),
  "correlationId": vars.correlationId default "",
  "timestamp": now() >> "America/Chicago" as String {format: "yyyy-MM-dd'T'HH:mm:ss.SSS"},
  "outputPayload": null
}]]></ee:set-payload>
				</ee:message>
				<ee:variables>
					<ee:set-variable variableName="httpStatus"><![CDATA["500"]]></ee:set-variable>
				</ee:variables>
			</ee:transform>
			<flow-ref doc:name="Flow Reference to error Email" name="impl-error-email-flow" />
			<flow-ref doc:name="error-handler-exit" name="error-handler-exit" />
		</on-error-propagate>
		
		<on-error-propagate enableNotifications="true" logException="true" doc:name="On Error Propagate" doc:id="79d216f3-1c21-49ba-b74e-d2c0af711956" type="HL7:CONNECTIVITY, HL7:PARSE, HL7:SCHEMA, HL7:RETRY_EXHAUSTED, HL7:UNKNOWN, HL7:WRITE">
			<!-- HL7 Error Handler -->
			<logger level="ERROR" doc:name="HL7 Error Logger" 
					message="#[%dw 2.0 
					output application/json 
					--- 
					{
						errorType: error.errorType.identifier default 'UNKNOWN_HL7_ERROR',
						errorCategory: 'HL7',
						correlationId: vars.correlationId default '',
						transactionId: vars.transactionId default '',
						timestamp: now() as String {format: 'yyyy-MM-dd HH:mm:ss.SSS'},
						description: error.description default 'HL7 message error',
						detailedDescription: error.detailedDescription default '',
						eventType: vars.eventType default 'UNKNOWN'
					}]"/>
					
			<ee:transform doc:name="HL7 Errors">
				<ee:message>
					<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  "messages": "HL7 error: " ++ (error.description default "Unknown error"),
  "errorOrigin": p('application.name'),
  "status": "ERROR",
  "code": error.errorType.asString,
  "description": error.detailedDescription default "HL7 message processing failed",
  "correlationId": vars.correlationId default "",
  "timestamp": now() >> "America/Chicago" as String {format: "yyyy-MM-dd'T'HH:mm:ss.SSS"},
  "outputPayload": null
}]]></ee:set-payload>
				</ee:message>
				<ee:variables>
					<ee:set-variable variableName="httpStatus"><![CDATA["500"]]></ee:set-variable>
				</ee:variables>
			</ee:transform>
			<flow-ref doc:name="Flow Reference to error Email" name="impl-error-email-flow" />
			<flow-ref doc:name="error-handler-exit" name="error-handler-exit" />
		</on-error-propagate>
		
		<on-error-propagate enableNotifications="true" logException="true" doc:name="On Error Propagate" doc:id="1dec527c-8597-4ef4-ae28-6be809950f72" type="ANY">
			<!-- Generic structured logging -->
			<logger level="ERROR" doc:name="General Error Logger" 
					message="#[%dw 2.0 
					output application/json 
					--- 
					{
						errorType: error.errorType.identifier default 'UNKNOWN_ERROR',
						errorCategory: error.errorType.namespace default 'GENERAL',
						correlationId: vars.correlationId default '',
						transactionId: vars.transactionId default '',
						timestamp: now() as String {format: 'yyyy-MM-dd HH:mm:ss.SSS'},
						description: error.description default 'Unknown error',
						detailedDescription: error.detailedDescription default '',
						eventType: vars.eventType default 'UNKNOWN',
						stackTrace: error.cause.stackTrace default ''
					}]"/>
			
			<ee:transform doc:name="Handling Mapping Errors" doc:id="377ff354-9711-499e-a455-f643047c8033">
				<ee:message>
					<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  "messages": error.description default "Unknown error",
  "errorOrigin": p('application.name'),
  "status": "ERROR",
  "code": error.errorType.asString default "GENERAL_ERROR",
  "description": error.detailedDescription default error.description default "Unknown error occurred",
  "correlationId": vars.correlationId default "",
  "timestamp": now() >> "America/Chicago" as String {format: "yyyy-MM-dd'T'HH:mm:ss.SSS"},
  "outputPayload": null
}]]></ee:set-payload>
				</ee:message>
				<ee:variables>
					<ee:set-variable variableName="httpStatus"><![CDATA[error.errorMessage.attributes.statusCode default "500"]]></ee:set-variable>
				</ee:variables>
			</ee:transform>
			<flow-ref doc:name="Flow Reference to error Email" doc:id="ad11d2d0-3311-41b7-9741-0205bf7309ff" name="impl-error-email-flow" />
			<flow-ref doc:name="error-handler-exit" doc:id="928219ec-06b5-4028-a6f5-247a8d22d1a1" name="error-handler-exit" />
		</on-error-propagate>
	</error-handler>
	
	<sub-flow name="error-handler-exit" doc:id="c14e7c09-cc0a-4f9b-adb4-04d43d988ae8">
		<logger level="ERROR" doc:name="Logger" doc:id="220f3559-43cc-47ea-a584-20b3888192f5" message="ERROR HANDLER EXIT - errorType: #[error.errorType default 'UNKNOWN'], message: #[error.description default 'No description'], payload: #[payload]"/>
	</sub-flow>
	
	<flow name="impl-error-email-flow" doc:id="3897648f-d803-4d2e-803f-03bde6379c0b">
		<ee:transform doc:name="Set Error Email Details" doc:id="afcd9bf2-da6a-4be4-b16f-eb0c16fdaf2f">
			<ee:message>
				<ee:set-payload><![CDATA[%dw 2.0
output text/plain
var errorDetails = {
    "Error Type": error.errorType.asString default "UNKNOWN",
    "Error Description": error.description default "Unknown error",
    "Detailed Description": error.detailedDescription default "No additional details",
    "Message": payload.messages default (error.description default "Unknown error"),
    "Correlation ID": vars.correlationId default "",
    "Transaction ID": vars.transactionId default "",
    "Timestamp": now() as String {format: "yyyy-MM-dd'T'HH:mm:ss.SSS"},
    "Environment": p('mule.env') default "unknown",
    "Application": p('application.name') default "unknown",
    "Event Type": vars.eventType default "UNKNOWN"
}

---
"Error Details:
--------------------------------------------------
Error Type: " ++ errorDetails."Error Type" ++ "
Error Description: " ++ errorDetails."Error Description" ++ "
Detailed Description: " ++ errorDetails."Detailed Description" ++ "
Message: " ++ errorDetails.Message ++ "
Correlation ID: " ++ errorDetails."Correlation ID" ++ "
Transaction ID: " ++ errorDetails."Transaction ID" ++ "
Timestamp: " ++ errorDetails.Timestamp ++ "
Environment: " ++ errorDetails.Environment ++ "
Application: " ++ errorDetails.Application ++ "
Event Type: " ++ errorDetails."Event Type" ++ "
--------------------------------------------------

This is an automated message. Please do not reply to this email."]]></ee:set-payload>
			</ee:message>
			<ee:variables>
				<ee:set-variable variableName="errorSubject"><![CDATA[%dw 2.0
output application/java
---
"[" ++ upper(p('mule.env') default "UNKNOWN") ++ "] " ++
"NextGen-Salesforce Integration Error: " ++
(error.errorType.identifier default "UNKNOWN") ++ " in " ++
(p('application.name') default "unknown")]]></ee:set-variable>
				<ee:set-variable variableName="emailAddressVar"><![CDATA[%dw 2.0
output application/java
---
p('email.support.to')]]></ee:set-variable>
			</ee:variables>
		</ee:transform>
		
		<logger level="INFO" doc:name="Mail Start Log" doc:id="f0819bd2-52bc-4129-8b49-067aae5d8a9e" message='CorrelationId: #[vars.correlationId default "NONE"] - Sending Error Email to Support Team' />
		
		<email:send doc:name="Send" doc:id="3b6d8373-d349-4f1a-ae8d-bfbb10414fd5" config-ref="Email_SMTP" fromAddress="${smtp.fromaddress}" subject="#[output application/java --- vars.errorSubject]">
			<email:to-addresses>
				<email:to-address value="#[vars.emailAddressVar]" />
			</email:to-addresses>
			<email:body contentType="text/plain">
				<email:content><![CDATA[#[payload]]]></email:content>
			</email:body>
		</email:send>
		
		<logger level="INFO" doc:name="Mail End Log" doc:id="307c976a-9a5c-40ce-8915-f93e47b73c37" message='CorrelationId: #[vars.correlationId default "NONE"] - Error Email sent successfully' />
		
		<ee:transform doc:name="Set Response" doc:id="0a2ea1d1-3a0c-4107-9080-f0113c6a474e">
			<ee:message>
				<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  "status": "ERROR",
  "message": "An error occurred during integration processing. Support team has been notified.",
  "errorType": error.errorType.identifier default "UNKNOWN",
  "correlationId": vars.correlationId default "",
  "timestamp": now() as String {format: "yyyy-MM-dd'T'HH:mm:ss.SSS"}
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		
		<!-- Handle potential errors in the error handler itself -->
		<error-handler>
			<on-error-continue type="ANY">
				<logger level="ERROR" message="ERROR IN ERROR HANDLER: #[error.description]" />
			</on-error-continue>
		</error-handler>
	</flow>
</mule>