viva-sf-ng-outbound-papi/src/main/mule/outbound-contact-impl.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:sap="http://www.mulesoft.org/schema/mule/sap" xmlns:email="http://www.mulesoft.org/schema/mule/email"
	xmlns:hl7="http://www.mulesoft.org/schema/mule/hl7"
	xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:salesforce="http://www.mulesoft.org/schema/mule/salesforce" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/salesforce http://www.mulesoft.org/schema/mule/salesforce/current/mule-salesforce.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/hl7 http://www.mulesoft.org/schema/mule/hl7/current/mule-hl7.xsd
http://www.mulesoft.org/schema/mule/email http://www.mulesoft.org/schema/mule/email/current/mule-email.xsd
http://www.mulesoft.org/schema/mule/sap http://www.mulesoft.org/schema/mule/sap/current/mule-sap.xsd">
	<flow name="outboundContactImplementationFlow" doc:id="f640b450-687e-4eb3-bc13-a42f198e21b3" >
		<salesforce:replay-channel-listener streamingChannel="/data/ContactChangeEvent" replayOption="FROM_LAST_REPLAY_ID" doc:name="Replay channel listener" doc:id="72348164-7a72-4c67-aa80-81ce1cd8d89b" config-ref="Salesforce_Config" cacheEventsInMemory="true"/>
		<logger level="INFO" doc:name="inputPayloadLogger" doc:id="941802cd-ded1-497a-a3ef-b1c7946281d1" message="#[%dw 2.0&#10;output application/json&#10;---&#10;{&#10;	correlationId : correlationId,&#10;	eventTimestamp : now(),&#10;	applicationName: Mule::p('application.name'),&#10;	flowName: flow.name default &quot;implementation-flow&quot;,&#10;	environment: upper(p('mule.env')),&#10;	source: Mule::p('source'),&#10;	target: Mule::p('target'),&#10;	message: &quot;request received from salesforce&quot;,&#10;	inputPayload: payload&#10;}]" />
		<salesforce:query doc:name="contactQuery" doc:id="da86cc1e-1327-4d73-9aaf-318bde972d58" config-ref="Salesforce_Config" target="queryData">
					<salesforce:salesforce-query><![CDATA[SELECT Id, Contact_Id__c, FirstName, LastName, MiddleName, Marital_Status__c, Language_Preferred__c, Patient_Gender_2__c, HF_Chart_Number__c, Email, Phone, MailingCountry, MailingState, MailingPostalCode, MailingCity, MailingStreet, Patient_Ethnicity__c, Patient_Race__c, Patient_Gender__c, Date_of_Birth__c,HealthFusion_Patient_Record_ID__c FROM Contact WHERE Id = ':Id']]></salesforce:salesforce-query>
					<salesforce:parameters><![CDATA[#[output application/java
---
{
	Id : payload.data.payload.ChangeEventHeader.recordIds[0]
}]]]></salesforce:parameters>
				</salesforce:query>
		<salesforce:query doc:name="userEmailQuery" doc:id="3406f10f-8998-4125-b692-b63b6b335d5e" config-ref="Salesforce_Config" target="userEmailVar">
			<salesforce:salesforce-query ><![CDATA[SELECT Id, Email, Username FROM User WHERE Id = ':Id']]></salesforce:salesforce-query>
			<salesforce:parameters ><![CDATA[#[output application/java
---
{
	Id : payload.data.payload.ChangeEventHeader.commitUser
}]]]></salesforce:parameters>
		</salesforce:query>
		<ee:transform doc:name="preparingEmailPayload" doc:id="31a125c0-873a-4a2a-8e02-48e00dbdf633" >
			<ee:message >
			</ee:message>
			<ee:variables >
				<ee:set-variable variableName="transactionId" ><![CDATA[uuid()]]></ee:set-variable>
				<ee:set-variable variableName="body" ><![CDATA[%dw 2.0
output text/plain
var body = {
    "Hello": vars.userEmailVar[0].Username,
    "Message": "This email is to notify you that the following critical fields have been updated for a Contact in Salesforce",
    "Contact Details": {
        "ModifiedTime": now() as DateTime,
        "ContactId": payload.data.payload.ChangeEventHeader.recordIds[0],
        "Updated details": 
            [
                if (payload.data.payload.ChangeEventHeader.changedFields contains "Name.FirstName") 
                    "The following contact First Name is updated to: " ++ payload.data.payload.Name.FirstName
                else 
                    null,
                if (payload.data.payload.ChangeEventHeader.changedFields contains "Name.LastName") 
                    "The following contact Last Name is updated to: " ++ payload.data.payload.Name.LastName
                else 
                    null,
                if (payload.data.payload.ChangeEventHeader.changedFields contains "Date_of_Birth__c") 
                    "The following contact Date of Birth is updated to: " ++ payload.data.payload.Date_of_Birth__c as String
                else 
                    null
            ] filter ((msg) -> msg != null) 
    }, 
    "UserID": payload.data.payload.ChangeEventHeader.commitUser,
    "Note": "If this update was intentional, no further action is required. Otherwise, please review the change and ensure its accuracy."
}

---
"Hello: " ++ body.Hello ++ "
Message: " ++ body.Message ++ "

Contact Details:
  - Modified Time: " ++ (body.'Contact Details'.ModifiedTime as String default "N/A") ++ "
  - ContactId: " ++ (body.'Contact Details'.ContactId as String default "N/A") ++ "
  - Updated Details: " ++ (body.'Contact Details'.'Updated details' joinBy "\n    ") ++ "

UserID: " ++ (body.UserID as String default "N/A") ++ "
Note: " ++ body.Note
]]></ee:set-variable>
				<ee:set-variable variableName="subject" ><![CDATA[%dw 2.0
output application/json
---
"Contact Information Update Alert: " ++ 
(vars.queryData[0].FirstName default "") ++ 
" " ++ 
(vars.queryData[0].LastName default "")
]]></ee:set-variable>
				<ee:set-variable variableName="emailAddressVar" ><![CDATA[%dw 2.0
output application/json
---
if ((vars.userEmailVar[0].Email) != null and (vars.userEmailVar[0].Email?)) vars.userEmailVar[0].Email else ("mrudhula.eerisetti@prowesssoft.com")]]></ee:set-variable>
				<ee:set-variable variableName="errorBody" ><![CDATA[%dw 2.0
output text/plain
var errorBody = {
    "Hello": vars.userEmailVar[0].Username,
    "Message": "This email is to notify you that an error occurred while attempting to " ++ payload.data.payload.ChangeEventHeader.changeType ++ " a Contact in NextGen.",
    "Contact Details": {
        "Timestamp": now() as String {format: "yyyy-MM-dd'T'HH:mm:ss.SSSXXX"},
        "ContactId": payload.data.payload.ChangeEventHeader.recordIds[0],
        "Contact Full Name": (vars.queryData[0].FirstName default "") ++ " " ++ (vars.queryData[0].LastName default ""),
        "Date of Birth": vars.queryData[0].Date_of_Birth__c default null,
        "Email": vars.queryData[0].Email default null,
        "Phone": vars.queryData[0].Phone default null,
        "Address": [
            vars.queryData[0].MailingStreet default null,
            vars.queryData[0].MailingCity default null,
            vars.queryData[0].MailingState default null,
            vars.queryData[0].MailingCountry default null,
            vars.queryData[0].MailingPostalCode default null
        ]
    },
    "UserID": payload.data.payload.ChangeEventHeader.commitUser,
    "Context": "The system encountered the above error while attempting to " ++ payload.data.payload.ChangeEventHeader.changeType ++ " the following Contact in NextGen. Please review the details and address the issue."
}

---
"Hello: " ++ errorBody.Hello ++ "
Message: " ++ errorBody.Message ++ "

Contact Details:
  - Timestamp: " ++ (errorBody.'Contact Details'.Timestamp as String {class: "null"} default "N/A") ++ "
  - ContactId: " ++ (errorBody.'Contact Details'.ContactId as String {class: "null"} default "N/A") ++ "
  - Contact Full Name: " ++ (errorBody.'Contact Details'.'Contact Full Name' as String {class: "null"} default "N/A") ++ "
  - Date of Birth: " ++ (errorBody.'Contact Details'.'Date of Birth' as String {class: "null"} default "N/A") ++ "
  - Email: " ++ (errorBody.'Contact Details'.Email as String {class: "null"} default "N/A") ++ "
  - Phone: " ++ (errorBody.'Contact Details'.Phone as String {class: "null"} default "N/A") ++ "
  - Address: " ++ (errorBody.'Contact Details'.Address filter $ != null joinBy ", " default "N/A") ++ "
  - UserID: " ++ (errorBody.UserID as String {class: "null"} default "N/A") ++ "
  - Context: " ++ (errorBody.Context as String {class: "null"} default "N/A")
]]></ee:set-variable>
				<ee:set-variable variableName="errorSubject" ><![CDATA[%dw 2.0
output application/json
---
"Contact " ++ 
(payload.data.payload.ChangeEventHeader.changeType default "") ++ 
" Error: " ++ 
(vars.queryData[0].FirstName default "") ++ 
" " ++ 
(vars.queryData[0].LastName default "")
]]></ee:set-variable>
			</ee:variables>
		</ee:transform>
		<!-- [STUDIO:"Transform Message"]<ee:transform doc:name="Transform Message" doc:id="da581829-c332-444a-9264-d483b841c36c" >
			<ee:message >
			</ee:message>
			<ee:variables >
				<ee:set-variable variableName="textBody" ><![CDATA[%dw 2.0
output text/plain
&#45;&#45;-
"Hello: " ++ vars.userEmailVar[0&#93;.Username ++ "
Message: This email is to notify you that the following critical fields have been updated for a Contact in Salesforce.

Contact Details:
  - Modified Time: " ++ (now() as String) ++ "
  - ContactId: " ++ (payload.data.payload.ChangeEventHeader.recordIds[0&#93; as String {class: "null"} default "N/A") ++ "
  - Updated Details: " ++ 
    (
      (
        [
          if (payload.data.payload.ChangeEventHeader.changedFields contains "Name.FirstName") 
            "The following contact First Name is updated to: " ++ payload.data.payload.Name.FirstName
          else 
            null,
          if (payload.data.payload.ChangeEventHeader.changedFields contains "Name.LastName") 
            "The following contact Last Name is updated to: " ++ payload.data.payload.Name.LastName
          else 
            null,
          if (payload.data.payload.ChangeEventHeader.changedFields contains "Date_of_Birth__c") 
            "The following contact Date of Birth is updated to: " ++ payload.data.payload.Date_of_Birth__c as String
          else 
            null
        &#93; 
        filter $ != null
      ) joinBy "\n    "
    ) ++ "

UserID: " ++ (payload.data.payload.ChangeEventHeader.commitUser as String {class: "null"} default "N/A") ++ "
Note: If this update was intentional, no further action is required. Otherwise, please review the change and ensure its accuracy."
&#93;&#93;></ee:set-variable>
				<ee:set-variable variableName="textErrorBody" ><![CDATA[%dw 2.0
output text/plain
&#45;&#45;-
"Hello: " ++ vars.errorBody.Hello ++ "
Message: " ++ vars.errorBody.Message ++ "

Contact Details:
  - Timestamp: " ++ (vars.errorBody.'Contact Details'.Timestamp as String {class: "null"} default "N/A") ++ "
  - ContactId: " ++ (vars.errorBody.'Contact Details'.ContactId as String {class: "null"} default "N/A") ++ "
  - Contact Full Name: " ++ (vars.errorBody.'Contact Details'.'Contact Full Name' as String {class: "null"} default "N/A") ++ "
  - Date of Birth: " ++ (vars.errorBody.'Contact Details'.'Date of Birth' as String {class: "null"} default "N/A") ++ "
  - Email: " ++ (vars.errorBody.'Contact Details'.Email as String {class: "null"} default "N/A") ++ "
  - Phone: " ++ (vars.errorBody.'Contact Details'.Phone as String {class: "null"} default "N/A") ++ "
  - Address: " ++ (vars.errorBody.'Contact Details'.Address filter $ != null joinBy ", " default "N/A") ++ "
  - UserID: " ++ (vars.errorBody.'Contact Details'.UserID as String {class: "null"} default "N/A") ++ "
  - Context: " ++ (vars.errorBody.'Contact Details'.Context as String {class: "null"} default "N/A")
&#93;&#93;></ee:set-variable>
			</ee:variables>
		</ee:transform> [STUDIO] -->
		<choice doc:name="Choice" doc:id="79245701-43c0-4bff-954c-03b3ea9af723" >
			<when expression='#[(payload.data.payload.ChangeEventHeader.changedFields contains "Name.FirstName") or (payload.data.payload.ChangeEventHeader.changedFields contains "Name.LastName") or (payload.data.payload.ChangeEventHeader.changedFields contains "Date_of_Birth__c")]'>
				<email:send doc:name="sendEmail" doc:id="b9f99b8a-dc6f-4c6f-8eac-033f51ce376a" config-ref="Email_SMTP" fromAddress="${smtp.fromaddress}" subject='#[vars.subject]'>
					<email:to-addresses >
						<email:to-address value="#[vars.emailAddressVar]" />
					</email:to-addresses>
					<email:body contentType="text/plain" >
						<email:content ><![CDATA[#[vars.body]]]></email:content>
					</email:body>
				</email:send>
				<logger level="INFO" doc:name="emailMessage" doc:id="874b5980-4a72-416b-8157-15cebbde96d4" message="email notification sent successfully"/>
				<flow-ref doc:name="callToOutboundContactSubFlow" doc:id="c9de76af-e3f5-40a6-b9fa-25e296d46291" name="outboundContactSubFlow" />
			</when>
			<otherwise >
				<flow-ref doc:name="callToOutboundContactSubFlow" doc:id="0e309bcb-eb23-4079-8cc6-7e62b478f0a1" name="outboundContactSubFlow"/>
			</otherwise>
		</choice>
		<error-handler ref="error-handler" />
	
</flow>
	<sub-flow name="outboundContactSubFlow" doc:id="93f5a7d7-6778-4b32-9e92-f748e0a45d5f" >
		<choice doc:name="Choice" doc:id="fa003cae-e090-4072-96d7-1b67314d9a33" >
			<when expression='#[(payload.data.payload.ChangeEventHeader.commitUser == "0051T000007nKdNQAU" or&#10;    payload.data.payload.ChangeEventHeader.commitUser == "0051T00000B87d5QAB" or&#10;    payload.data.payload.ChangeEventHeader.commitUser == "0051T00000B88cXQAR" or payload.data.payload.ChangeEventHeader.commitUser == "005Rj000000hxuTIAQ"&#10;  ) and&#10;  (&#10;    (payload.data.payload.Name.FirstName != null and (payload.data.payload.Name.FirstName == "TEST")) and&#10;    (payload.data.payload.Name.LastName != null and (payload.data.payload.Name.LastName contains "PATIENT")) or &#10;    (vars.queryData[0].FirstName != null and (vars.queryData[0].FirstName == "TEST")) and&#10;    (vars.queryData[0].LastName != null and (vars.queryData[0].LastName contains "PATIENT"))&#10;  )]' >
				<ee:transform doc:name="inputPayload" doc:id="726b9428-3195-464d-93e9-2d42d545e5ff" >
					<ee:message />
					<ee:variables >
						<ee:set-variable resource="dwl/variables/language-field-var.dwl" variableName="languageField" />
						<ee:set-variable resource="dwl/variables/provider-id-var.dwl" variableName="providerId" />
						<ee:set-variable resource="dwl/variables/contact-create-check-var.dwl" variableName="checkConditionCreate" />
						<ee:set-variable resource="dwl/variables/contact-update-check-var.dwl" variableName="checkConditionUpdate" />
						<ee:set-variable variableName="eventType" ><![CDATA["REGISTRATION"]]></ee:set-variable>
					</ee:variables>
				</ee:transform>
				<logger level="INFO" doc:name="Logger" doc:id="2db58453-a42f-4217-82f4-07e59c0d9081" message="id is valid processing HL7 message"/>
				<choice doc:name="Choice" doc:id="5e5ddc9e-fad0-4893-96f0-8bb9170582c6" >
					<when expression="#[vars.checkConditionCreate]" >
						<ee:transform doc:name="A04 mapping" doc:id="1d78613e-75c1-4c46-89c3-8d4bb0514104" >
							<ee:message >
								<ee:set-payload resource="dwl/payload/A04-mapping.dwl" />
							</ee:message>
						</ee:transform>
						<hl7:write doc:name="A04" doc:id="ac17b6d7-5171-4e2c-a38a-7f920e067a04" config-ref="HL7_EDI_Config_A04" />
						<flow-ref doc:name="callToRequestFlow" doc:id="dc0350f6-d2de-41ac-a513-7f896508bb21" name="commonRequestFlow" />
					</when>
					<when expression="#[vars.checkConditionUpdate]" >
						<ee:transform doc:name="A08 mapping" doc:id="b3b25c25-6741-4563-b1c6-c96633f0d8b8" >
							<ee:message >
								<ee:set-payload resource="dwl/payload/A08-mapping.dwl" />
							</ee:message>
						</ee:transform>
						<hl7:write doc:name="A08" doc:id="cab0abba-1aa0-4936-8ddf-44e3ef698350" config-ref="HL7_EDI_Config_A08" >
						</hl7:write>
						<flow-ref doc:name="callToRequestFlow" doc:id="ef9e4ee8-018c-4630-91a0-3133ec4044e7" name="commonRequestFlow" />
					</when>
					<otherwise>
						<logger level="INFO" doc:name="defaultCase" doc:id="c5a189df-1b6c-4499-b654-f540d37e45c9" message='"invaild ADT type"' />
					</otherwise>
				</choice>
				<logger level="INFO" doc:name="outputPayloadLogger" doc:id="eb975a97-ba9a-4a62-88e4-c92cc607d82f" message="#[%dw 2.0&#10;output application/json&#10;---&#10;{&#10;	correlationId : correlationId,&#10;	eventTimestamp : now(),&#10;	applicationName: Mule::p('app.name'),&#10;	flowName: flow.name default &quot;implementation-flows&quot;,&#10;	environment: upper(Mule::p('mule.env')),&#10;	source: Mule::p('source'),&#10;	target:  Mule::p('target'),&#10;	message: &quot;response sent to viva-sf-ng-outbound-sapi&quot;&#10;}]" />
				<logger level="INFO" doc:name="outputPayload" doc:id="17899e6e-7e02-41ae-bed9-9fa1826c3663" message="#[payload]"/>
			</when>
			<otherwise>
				<logger level="INFO" doc:name="defaultCase" doc:id="051efe4a-e830-4d3c-9920-c1ff3b2010ae" message='"Invalid User"' />
			</otherwise>
		</choice>
	</sub-flow>

</mule>
