viva-sf-ng-outbound-papi/src/main/mule/outbound-appointment-impl.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:email="http://www.mulesoft.org/schema/mule/email" xmlns:hl7="http://www.mulesoft.org/schema/mule/hl7"
	xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:salesforce="http://www.mulesoft.org/schema/mule/salesforce" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/salesforce http://www.mulesoft.org/schema/mule/salesforce/current/mule-salesforce.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/hl7 http://www.mulesoft.org/schema/mule/hl7/current/mule-hl7.xsd
http://www.mulesoft.org/schema/mule/email http://www.mulesoft.org/schema/mule/email/current/mule-email.xsd">
	<flow name="outboundAppointmentImplementationFlow" doc:id="13ea4868-57e2-445d-a553-cd4417a81304" >
		<salesforce:replay-channel-listener doc:name="Replay channel listener" doc:id="4dc1a9eb-e600-46f3-bb50-ae41d7539121" config-ref="Salesforce_Config" streamingChannel="/data/ServiceAppointmentChangeEvent" replayOption="FROM_LAST_REPLAY_ID" cacheEventsInMemory="true"/>
		<ee:transform doc:name="inputPayload" doc:id="8d3bda74-584f-46d5-af6b-20aff68c3f3e">
					<ee:message>
				<ee:set-payload resource="dwl/payload/app-input-payload.dwl" />
					</ee:message>
					<ee:variables>
						<ee:set-variable variableName="checkConditionAppCreate"><![CDATA[%dw 2.0
output application/json
---
if (!isEmpty(payload.data.payload.ChangeEventHeader.entityName) and (!isEmpty(payload.data.payload.ChangeEventHeader.changeType))) (payload.data.payload.ChangeEventHeader.entityName ~= "ServiceAppointment" and payload.data.payload.ChangeEventHeader.changeType ~= "CREATE") else "entityName and changeType values doesn't exist"]]></ee:set-variable>
						<ee:set-variable variableName="checkConditionAppRes"><![CDATA[%dw 2.0
output application/json
---
if (!isEmpty(payload.data.payload.ChangeEventHeader.entityName) and (!isEmpty(payload.data.payload.ChangeEventHeader.changeType)))
(payload.data.payload.ChangeEventHeader.entityName ~= "ServiceAppointment" and payload.data.payload.ChangeEventHeader.changeType ~= "UPDATE"
and (payload.data.payload.Status ~= "Rescheduled by Patient" or
     payload.data.payload.Status ~= "Rescheduled by Provider")
     and (payload.data.payload.ChangeEventHeader.changedFields contains  "Status"))
 
else "entityName and changeType values doesn't exist"]]></ee:set-variable>
						<ee:set-variable variableName="checkConditionAppModify"><![CDATA[%dw 2.0
output application/json
---
if (!isEmpty(payload.data.payload.ChangeEventHeader.entityName) and (!isEmpty(payload.data.payload.ChangeEventHeader.changeType))) (payload.data.payload.ChangeEventHeader.entityName ~= "ServiceAppointment" and payload.data.payload.ChangeEventHeader.changeType ~= "UPDATE") and  payload.data.payload.Status ~=  "Checked Out" or  payload.data.payload.Status ~=  "Checked In"  else "entityName and changeType values doesn't exist"]]></ee:set-variable>
						<ee:set-variable variableName="checkConditionAppCancel"><![CDATA[%dw 2.0
output application/json
---
if (!isEmpty(payload.data.payload.ChangeEventHeader.entityName) and (!isEmpty(payload.data.payload.ChangeEventHeader.changeType)))
(payload.data.payload.ChangeEventHeader.entityName ~= "ServiceAppointment" and payload.data.payload.ChangeEventHeader.changeType ~= "UPDATE"
and (payload.data.payload.Status ~= "Cancelled by Patient" or
     payload.data.payload.Status ~= "Cancelled by Provider")
     and (payload.data.payload.ChangeEventHeader.changedFields contains  "Status"))
 
else "entityName and changeType values doesn't exist"]]></ee:set-variable>
				<ee:set-variable variableName="correlationId"><![CDATA[correlationId default ""]]></ee:set-variable>
				<ee:set-variable variableName="transactionId" ><![CDATA[uuid()]]></ee:set-variable>
				<ee:set-variable variableName="eventType" ><![CDATA["Appointment"]]></ee:set-variable>
					</ee:variables>
				</ee:transform>
		<logger level="INFO" doc:name="inputPayloadLogger" doc:id="1f44b47e-f58a-49c9-bd9f-3ae4e5594091" message="#[%dw 2.0&#10;output application/json&#10;---&#10;{&#10;	correlationId : vars.correlationId,&#10;	eventTimestamp : now(),&#10;	applicationName: Mule::p('application.name'),&#10;	flowName: flow.name default &quot;implementation-flow&quot;,&#10;	environment: upper(Mule::p('mule.env')),&#10;	source: Mule::p('source'),&#10;	target: Mule::p('target'),&#10;	message: &quot;request received from salesforce&quot;,&#10;	inputPayload: payload&#10;}]" />
		<salesforce:query doc:name="serviceAppReqFields" doc:id="c6823964-cedb-468d-bba2-084b4ab4f405" config-ref="Salesforce_Config" target="updateFields">
			<salesforce:salesforce-query><![CDATA[SELECT Id,AdditionalInformation,Service_Resource__c,NextGen_ID__c,ServiceTerritoryId,ContactId,SchedStartTime,SchedEndTime from ServiceAppointment WHERE Id = ':Id']]></salesforce:salesforce-query>
			<salesforce:parameters><![CDATA[#[output application/java
---
{
	Id : payload.data.payload.ChangeEventHeader.recordIds[0]
}]]]></salesforce:parameters>
		</salesforce:query>
		<salesforce:query doc:name="contactQuery" doc:id="004d318f-26b4-4f04-ba84-073f35f9a923" config-ref="Salesforce_Config" target="queryData">
			<salesforce:salesforce-query><![CDATA[SELECT Id, FirstName, LastName, MiddleName, Marital_Status__c, Patient_Gender_2__c, Language_Preferred__c, HF_Chart_Number__c, Email, Phone, MailingCountry, MailingState, MailingPostalCode, MailingCity, MailingStreet, Patient_Ethnicity__c, Patient_Race__c, Patient_Gender__c, Date_of_Birth__c,HealthFusion_Patient_Record_ID__c FROM Contact WHERE Id = ':Id']]></salesforce:salesforce-query>
			<salesforce:parameters><![CDATA[#[output application/java
---
{
	Id :  if ((payload.data.payload.ContactId) != null and (payload.data.payload.ContactId?)) payload.data.payload.ContactId else vars.updateFields.ContactId[0]
}]]]></salesforce:parameters>
		</salesforce:query>
		<choice doc:name="Choice" doc:id="bf1063e1-f83a-4917-b1eb-055f97cd8e3f" >
			<when expression='#[(payload.data.payload.ChangeEventHeader.commitUser == "0051T000007nKdNQAU" or&#10;    payload.data.payload.ChangeEventHeader.commitUser == "0051T00000B87d5QAB" or&#10;    payload.data.payload.ChangeEventHeader.commitUser == "0051T00000B88cXQAR" or payload.data.payload.ChangeEventHeader.commitUser == "005Rj000000hxuTIAQ"&#10;  ) and&#10;  (&#10;  (vars.queryData[0].FirstName != null and (vars.queryData[0].FirstName == "TEST")) and&#10;  (vars.queryData[0].LastName != null and (vars.queryData[0].LastName contains "PATIENT"))&#10;  )]'>
				<flow-ref doc:name="callingSubFlow" doc:id="65301612-ff0b-42a4-bb34-04dfe9abe3a3" name="outboundAppointmentSubFlow" />
			</when>
			<otherwise >
				<logger level="INFO" doc:name="defaultCase" doc:id="fbd0dcbd-cea5-4501-8258-a93bcb465c22" message='"Invalid User"'/>
			</otherwise>
		</choice>
		<error-handler ref="error-handler" />
	</flow>
	<sub-flow name="outboundAppointmentSubFlow" doc:id="39192b0d-75cf-44a2-a68e-9769d3c0aaf5" >
		<ee:transform doc:name="requiredVariables" doc:id="521a3855-a474-4032-8df9-ff4b6f2125b7">
			<ee:message>
			</ee:message>
			<ee:variables>
						<ee:set-variable variableName="appLocation"><![CDATA[%dw 2.0
output application/json
var locationField = readUrl("classpath://LocationExtract.json","application/json")
---
//(locationField filter ($.Id == payload.data.payload.ServiceTerritoryId))[0].LOCATION
if(payload.data.payload.ServiceTerritoryId?)
(locationField filter ($.Id == payload.data.payload.ServiceTerritoryId))[0].LOCATION else
(locationField filter ($.Id ~= vars.updateFields.ServiceTerritoryId[0]))[0].LOCATION]]></ee:set-variable>
				<ee:set-variable resource="dwl/variables/app-location-id.dwl" variableName="appLocationId" />
				<ee:set-variable resource="dwl/variables/app-provider-first-name.dwl" variableName="providerFirstName" />
				<ee:set-variable resource="dwl/variables/app-provider-last-name.dwl" variableName="providerLastName" />
				<ee:set-variable resource="dwl/variables/app-provider-id.dwl" variableName="providerId" />
				<ee:set-variable resource="dwl/variables/app-language-field.dwl" variableName="languageField" />
				<ee:set-variable resource="dwl/variables/appintment-type-var.dwl" variableName="appointmentType" />
				<ee:set-variable resource="dwl/variables/app-duration-var.dwl" variableName="duration" />
				<ee:set-variable variableName="scheduledEndTime" ><![CDATA[%dw 2.0
output application/json
var schedEndTime = if ((payload.data.payload.SchedEndTime != null) and (payload.data.payload.SchedEndTime?))
                    (payload.data.payload.SchedEndTime as DateTime)
                    else (vars.updateFields.SchedEndTime[0] as DateTime)
---
(schedEndTime - |PT5H|) as String {format: "yyyyMMddHHmmss"}
]]></ee:set-variable>
				<ee:set-variable variableName="scheduledStartTime" ><![CDATA[%dw 2.0
output application/json
var schedStartTime = if ((payload.data.payload.SchedStartTime != null) and (payload.data.payload.SchedStartTime?))
                    (payload.data.payload.SchedStartTime as DateTime)
                    else (vars.updateFields.SchedStartTime[0] as DateTime)
---
(schedStartTime - |PT5H|) as String {format: "yyyyMMddHHmmss"}]]></ee:set-variable>
			</ee:variables>
		</ee:transform>
		<salesforce:query doc:name="userEmailQuery" doc:id="3c495d47-57eb-4330-bfe0-be457dcc5dac" config-ref="Salesforce_Config" target="userEmailVar">
					<salesforce:salesforce-query><![CDATA[SELECT Id, Email, Username FROM User WHERE Id = ':Id']]></salesforce:salesforce-query>
					<salesforce:parameters><![CDATA[#[output application/java
---
{
	Id : payload.data.payload.ChangeEventHeader.commitUser
}]]]></salesforce:parameters>
				</salesforce:query>
		<ee:transform doc:name="preparingEmailPayload" doc:id="3e54c19c-a1ef-45ef-9c3e-8848683a9275">
			<ee:message />
			<ee:variables>
				<ee:set-variable variableName="transactionId"><![CDATA[uuid()]]></ee:set-variable>
				<ee:set-variable variableName="emailAddressVar"><![CDATA[%dw 2.0
output application/json
---
if ((vars.userEmailVar[0].Email) != null and (vars.userEmailVar[0].Email?)) vars.userEmailVar[0].Email else ("mrudhula.eerisetti@prowesssoft.com")]]></ee:set-variable>
				<ee:set-variable variableName="errorBody"><![CDATA[%dw 2.0
output text/plain

var errorBody = {
    "Hello": vars.userEmailVar[0].Username,
    "Message": "This email is to notify you that an error occurred while attempting to " ++ payload.data.payload.ChangeEventHeader.changeType ++ " an Appointment in NextGen.",
    "Appointment Details": {
        "Timestamp": now() as String {format: "yyyy-MM-dd'T'HH:mm:ss.SSSXXX"},
        "AppointmentID": payload.data.payload.ChangeEventHeader.recordIds[0],
        "Appointment Status": payload.data.payload.Status default "N/A",
        "Patient Name": (vars.queryData[0].FirstName default "") ++ " " ++ (vars.queryData[0].LastName default ""),
        "Date of Birth": vars.queryData[0].Date_of_Birth__c default null,
        "Provider": (vars.providerFirstName default "") ++ " " ++ (vars.providerLastName default ""),
        "Appointment Location": vars.appLocation default "N/A"
    },
    "UserID": payload.data.payload.ChangeEventHeader.commitUser default "N/A",
    "Context": "The system encountered the above error while attempting to " ++ payload.data.payload.ChangeEventHeader.changeType ++ " the following Appointment in NextGen. Please review the details and address the issue."
}

---
"Hello: " ++ errorBody.Hello ++ "
Message: " ++ errorBody.Message ++ "

Appointment Details:
  - Timestamp: " ++ (errorBody.'Appointment Details'.Timestamp as String {class: "null"} default "N/A") ++ "
  - AppointmentID: " ++ (errorBody.'Appointment Details'.AppointmentID as String {class: "null"} default "N/A") ++ "
  - Appointment Status: " ++ (errorBody.'Appointment Details'.'Appointment Status' as String {class: "null"} default "N/A") ++ "
  - Patient Name: " ++ (errorBody.'Appointment Details'.'Patient Name' as String {class: "null"} default "N/A") ++ "
  - Date of Birth: " ++ (errorBody.'Appointment Details'.'Date of Birth' as String {class: "null"} default "N/A") ++ "
  - Provider: " ++ (errorBody.'Appointment Details'.Provider as String {class: "null"} default "N/A") ++ "
  - Appointment Location: " ++ (errorBody.'Appointment Details'.'Appointment Location' as String {class: "null"} default "N/A") ++ "

UserID: " ++ (errorBody.UserID as String {class: "null"} default "N/A") ++ "
Context: " ++ (errorBody.Context as String {class: "null"} default "N/A")
]]></ee:set-variable>
				<ee:set-variable variableName="errorSubject"><![CDATA[%dw 2.0
output application/json
---
"Appointment " ++ 
(payload.data.payload.ChangeEventHeader.changeType default "") ++ 
" Error: " ++ 
(vars.queryData[0].FirstName default "") ++ 
" " ++ 
(vars.queryData[0].LastName default "")
]]></ee:set-variable>
			</ee:variables>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="fe0508fa-beab-4510-9e1a-5224c9498136" message="id is valid processing HL7 message"/>
		<choice doc:name="Choice" doc:id="33da795f-36c9-47d8-b72b-cfe1362eec3c">
			<when expression="#[vars.checkConditionAppCreate]">
				<ee:transform doc:name="s12Mapping" doc:id="346708d9-b416-4f18-b00f-459d04988170">
					<ee:message>
						<ee:set-payload resource="dwl/payload/s12-mapping.dwl" />
					</ee:message>
				</ee:transform>
				<hl7:write doc:name="S12" doc:id="345673c4-663a-4e90-9713-3e11f7f18b38" config-ref="HL7_EDI_Config_S12" />
				<flow-ref doc:name="callToRequestFlow" doc:id="bca1aaa7-bcf0-4a6f-b8ae-a6d675c664ee" name="commonRequestFlow" />
			</when>
			<when expression="#[vars.checkConditionAppRes]">
				<ee:transform doc:name="s13Mapping" doc:id="8d0f1e99-1263-464e-a5fa-503be90e03b2">
					<ee:message>
						<ee:set-payload resource="dwl/payload/s13-mapping.dwl" />
					</ee:message>
				</ee:transform>
				<hl7:write doc:name="S13" doc:id="965a136d-7e8f-4ad4-865d-278a1aa961b6" config-ref="HL7_EDI_Config_S13" />
				<flow-ref doc:name="callToRequestFlow" doc:id="fddaec02-45c8-4cc5-bdc4-2c75777db633" name="commonRequestFlow" />
			</when>
			<when expression="#[vars.checkConditionAppModify]">
				<ee:transform doc:name="s14Mapping" doc:id="ac19ff27-dd34-4fe5-83e4-e17dd710a4e1">
					<ee:message>
						<ee:set-payload resource="dwl/payload/s14-mapping.dwl" />
					</ee:message>
				</ee:transform>
				<hl7:write doc:name="S14" doc:id="2fbe6f43-402b-4bfd-81ee-9e6f94627837" config-ref="HL7_EDI_Config_S14" />
				<flow-ref doc:name="callToRequestFlow" doc:id="7aad052c-c28a-47d9-a76d-4de4bc823a6b" name="commonRequestFlow" />
			</when>
			<when expression="#[vars.checkConditionAppCancel]">
				<ee:transform doc:name="s15Mapping" doc:id="abb48d7d-c6e7-48f3-b987-3bfe83aa54b5">
					<ee:message>
						<ee:set-payload resource="dwl/payload/s15-mapping.dwl" />
					</ee:message>
				</ee:transform>
				<hl7:write doc:name="S15" doc:id="d94d80da-0189-473e-8b75-9b22c2bc54e6" config-ref="HL7_EDI_Config_S15" />
				<flow-ref doc:name="callToRequestFlow" doc:id="c18554f1-095c-4ecf-91d0-dbd2e1c629e3" name="commonRequestFlow" />
			</when>
			<otherwise>
				<logger level="INFO" doc:name="defaultCase" doc:id="0e88816a-3bdf-4d60-af1f-b8e287ff10b2" message='"invaild SIU type"' />
			</otherwise>
		</choice>
		<logger level="INFO" doc:name="outputPayloadLogger" doc:id="e6aa0e76-3732-48ff-9ee1-74516b852419" message="#[%dw 2.0&#10;output application/json&#10;---&#10;{&#10;	correlationId : vars.correlationId,&#10;	eventTimestamp : now(),&#10;	applicationName: Mule::p('app.name'),&#10;	flowName: flow.name default &quot;implementation-flows&quot;,&#10;	environment: upper(Mule::p('mule.env')),&#10;	source: Mule::p('source'),&#10;	target:  Mule::p('target'),&#10;	message: &quot;response sent to viva-sf-ng-outbound-sapi&quot;&#10;}]" />
		<logger level="INFO" doc:name="outputPayload" doc:id="a58b94dc-56be-419f-af25-f8a97c2d0258" message="#[payload]"/>
	</sub-flow>
</mule>
