viva-sf-ng-outbound-papi/src/main/mule/outbound-contact-impl.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:os="http://www.mulesoft.org/schema/mule/os"
	xmlns:sap="http://www.mulesoft.org/schema/mule/sap" xmlns:email="http://www.mulesoft.org/schema/mule/email"
	xmlns:hl7="http://www.mulesoft.org/schema/mule/hl7"
	xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:salesforce="http://www.mulesoft.org/schema/mule/salesforce" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/salesforce http://www.mulesoft.org/schema/mule/salesforce/current/mule-salesforce.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/hl7 http://www.mulesoft.org/schema/mule/hl7/current/mule-hl7.xsd
http://www.mulesoft.org/schema/mule/email http://www.mulesoft.org/schema/mule/email/current/mule-email.xsd
http://www.mulesoft.org/schema/mule/sap http://www.mulesoft.org/schema/mule/sap/current/mule-sap.xsd
http://www.mulesoft.org/schema/mule/os http://www.mulesoft.org/schema/mule/os/current/mule-os.xsd">
<import file="mule/generate-mappings.xml"/>
	<flow name="outboundContactImplementationFlow" doc:id="f640b450-687e-4eb3-bc13-a42f198e21b3" >
		<salesforce:replay-channel-listener streamingChannel="/data/ContactChangeEvent" replayOption="FROM_LAST_REPLAY_ID" doc:name="Replay channel listener" doc:id="72348164-7a72-4c67-aa80-81ce1cd8d89b" config-ref="Salesforce_Config" cacheEventsInMemory="true"/>
		<try>
		<logger level="INFO" doc:name="inputPayloadLogger" doc:id="941802cd-ded1-497a-a3ef-b1c7946281d1" message="#[%dw 2.0
output application/json
---
{
	correlationId : correlationId,
	eventTimestamp : now(),
	applicationName: Mule::p('application.name'),
	flowName: flow.name default &quot;implementation-flow&quot;,
	environment: upper(p('mule.env')),
	source: Mule::p('source'),
	target: Mule::p('target'),
	message: &quot;request received from salesforce&quot;,
	inputPayload: payload
}]" />
		<salesforce:query doc:name="contactQuery" doc:id="da86cc1e-1327-4d73-9aaf-318bde972d58" config-ref="Salesforce_Config" target="queryData">
					<salesforce:salesforce-query><![CDATA[SELECT Id, Contact_Id__c, FirstName, LastName, MiddleName, Marital_Status__c, Language_Preferred__c, Patient_Gender_2__c, HF_Chart_Number__c, Email, Phone, MailingCountry, MailingState, MailingPostalCode, MailingCity, MailingStreet, Patient_Ethnicity__c, Patient_Race__c, Patient_Gender__c, Date_of_Birth__c,HealthFusion_Patient_Record_ID__c FROM Contact WHERE Id = ':Id']]></salesforce:salesforce-query>
					<salesforce:parameters><![CDATA[#[output application/java
---
{
	Id : payload.data.payload.ChangeEventHeader.recordIds[0]
}]]]></salesforce:parameters>
				</salesforce:query>
				<logger level="INFO" doc:name="Log Contact Record"
				  message="#[%dw 2.0
				    output application/json
				    ---
				    { Contact: vars.queryData }
				  ]"/>
		<salesforce:query doc:name="userEmailQuery" doc:id="3406f10f-8998-4125-b692-b63b6b335d5e" config-ref="Salesforce_Config" target="userEmailVar">
			<salesforce:salesforce-query ><![CDATA[SELECT Id, Email, Username FROM User WHERE Id = ':Id']]></salesforce:salesforce-query>
			<salesforce:parameters ><![CDATA[#[output application/java
---
{
	Id : payload.data.payload.ChangeEventHeader.commitUser
}]]]></salesforce:parameters>
		</salesforce:query>
		<ee:transform doc:name="preparingEmailPayload" doc:id="31a125c0-873a-4a2a-8e02-48e00dbdf633" >
			<ee:message >
			</ee:message>
			<ee:variables >
				<ee:set-variable variableName="transactionId" ><![CDATA[uuid()]]></ee:set-variable>
				<ee:set-variable variableName="body" ><![CDATA[%dw 2.0
output text/plain
var body = {
    "Hello": vars.userEmailVar[0].Username,
    "Message": "This email is to notify you that the following critical fields have been updated for a Contact in Salesforce",
    "Contact Details": {
        "ModifiedTime": now() as DateTime,
        "ContactId": payload.data.payload.ChangeEventHeader.recordIds[0],
        "Updated details": 
            [
                if (payload.data.payload.ChangeEventHeader.changedFields contains "Name.FirstName") 
                    "The following contact First Name is updated to: " ++ payload.data.payload.Name.FirstName
                else 
                    null,
                if (payload.data.payload.ChangeEventHeader.changedFields contains "Name.LastName") 
                    "The following contact Last Name is updated to: " ++ payload.data.payload.Name.LastName
                else 
                    null,
                if (payload.data.payload.ChangeEventHeader.changedFields contains "Date_of_Birth__c") 
                    "The following contact Date of Birth is updated to: " ++ payload.data.payload.Date_of_Birth__c as String
                else 
                    null
            ] filter ((msg) -> msg != null) 
    }, 
    "UserID": payload.data.payload.ChangeEventHeader.commitUser,
    "Note": "If this update was intentional, no further action is required. Otherwise, please review the change and ensure its accuracy."
}

---
"Hello: " ++ body.Hello ++ "
Message: " ++ body.Message ++ "

Contact Details:
  - Modified Time: " ++ (body.'Contact Details'.ModifiedTime as String default "N/A") ++ "
  - ContactId: " ++ (body.'Contact Details'.ContactId as String default "N/A") ++ "
  - Updated Details: " ++ (body.'Contact Details'.'Updated details' joinBy "\n    ") ++ "

UserID: " ++ (body.UserID as String default "N/A") ++ "
Note: " ++ body.Note
]]></ee:set-variable>
				<ee:set-variable variableName="subject" ><![CDATA[%dw 2.0
output application/json
---
"Contact Information Update Alert: " ++ 
(vars.queryData[0].FirstName default "") ++ 
" " ++ 
(vars.queryData[0].LastName default "")
]]></ee:set-variable>
				<ee:set-variable variableName="emailAddressVar" ><![CDATA[%dw 2.0
output application/json
---
if ((vars.userEmailVar[0].Email) != null and (vars.userEmailVar[0].Email?)) vars.userEmailVar[0].Email else ("mrudhula.eerisetti@prowesssoft.com")]]></ee:set-variable>
				<ee:set-variable variableName="errorBody" ><![CDATA[%dw 2.0
output text/plain
var errorBody = {
    "Hello": vars.userEmailVar[0].Username,
    "Message": "This email is to notify you that an error occurred while attempting to " ++ payload.data.payload.ChangeEventHeader.changeType ++ " a Contact in NextGen.",
    "Contact Details": {
        "Timestamp": now() as String {format: "yyyy-MM-dd'T'HH:mm:ss.SSSXXX"},
        "ContactId": payload.data.payload.ChangeEventHeader.recordIds[0],
        "Contact Full Name": (vars.queryData[0].FirstName default "") ++ " " ++ (vars.queryData[0].LastName default ""),
        "Date of Birth": vars.queryData[0].Date_of_Birth__c default null,
        "Email": vars.queryData[0].Email default null,
        "Phone": vars.queryData[0].Phone default null,
        "Address": [
            vars.queryData[0].MailingStreet default null,
            vars.queryData[0].MailingCity default null,
            vars.queryData[0].MailingState default null,
            vars.queryData[0].MailingCountry default null,
            vars.queryData[0].MailingPostalCode default null
        ]
    },
    "UserID": payload.data.payload.ChangeEventHeader.commitUser,
    "Context": "The system encountered the above error while attempting to " ++ payload.data.payload.ChangeEventHeader.changeType ++ " the following Contact in NextGen. Please review the details and address the issue."
}

---
"Hello: " ++ errorBody.Hello ++ "
Message: " ++ errorBody.Message ++ "

Contact Details:
  - Timestamp: " ++ (errorBody.'Contact Details'.Timestamp as String {class: "null"} default "N/A") ++ "
  - ContactId: " ++ (errorBody.'Contact Details'.ContactId as String {class: "null"} default "N/A") ++ "
  - Contact Full Name: " ++ (errorBody.'Contact Details'.'Contact Full Name' as String {class: "null"} default "N/A") ++ "
  - Date of Birth: " ++ (errorBody.'Contact Details'.'Date of Birth' as String {class: "null"} default "N/A") ++ "
  - Email: " ++ (errorBody.'Contact Details'.Email as String {class: "null"} default "N/A") ++ "
  - Phone: " ++ (errorBody.'Contact Details'.Phone as String {class: "null"} default "N/A") ++ "
  - Address: " ++ (errorBody.'Contact Details'.Address filter $ != null joinBy ", " default "N/A") ++ "
  - UserID: " ++ (errorBody.UserID as String {class: "null"} default "N/A") ++ "
  - Context: " ++ (errorBody.Context as String {class: "null"} default "N/A")
]]></ee:set-variable>
				<ee:set-variable variableName="errorSubject" ><![CDATA[%dw 2.0
output application/json
---
"Contact " ++ 
(payload.data.payload.ChangeEventHeader.changeType default "") ++ 
" Error: " ++ 
(vars.queryData[0].FirstName default "") ++ 
" " ++ 
(vars.queryData[0].LastName default "")
]]></ee:set-variable>
			</ee:variables>
		</ee:transform>
		<logger level="INFO" doc:name="Log Mapped Variables"
		  message="#[%dw 2.0
		    output application/json
		    ---
		    {
		      transactionId: vars.transactionId,
		      subject: vars.subject,
		      emailAddressVar: vars.emailAddressVar,
		      errorBody: vars.errorBody,
		      errorSubject: vars.errorSubject
		    }
		  ]"/>
		<choice doc:name="Choice" doc:id="79245701-43c0-4bff-954c-03b3ea9af723" >
			<when expression='#[(payload.data.payload.ChangeEventHeader.changedFields contains "Name.FirstName") or (payload.data.payload.ChangeEventHeader.changedFields contains "Name.LastName") or (payload.data.payload.ChangeEventHeader.changedFields contains "Date_of_Birth__c")]'>
				<email:send doc:name="sendEmail" doc:id="b9f99b8a-dc6f-4c6f-8eac-033f51ce376a" config-ref="Email_SMTP" fromAddress="${smtp.fromaddress}" subject='#[vars.subject]'>
					<email:to-addresses >
						<email:to-address value="#[vars.emailAddressVar]" />
					</email:to-addresses>
					<email:body contentType="text/plain" >
						<email:content ><![CDATA[#[vars.body]]]></email:content>
					</email:body>
				</email:send>
				<logger level="INFO" doc:name="emailMessage" doc:id="874b5980-4a72-416b-8157-15cebbde96d4" message="email notification sent successfully"/>
				<flow-ref doc:name="callToOutboundContactSubFlow" doc:id="c9de76af-e3f5-40a6-b9fa-25e296d46291" name="outboundContactSubFlow" />
			</when>
			<otherwise >
				<flow-ref doc:name="callToOutboundContactSubFlow" doc:id="0e309bcb-eb23-4079-8cc6-7e62b478f0a1" name="outboundContactSubFlow"/>
			</otherwise>
		</choice>
	
		<error-handler>
			<on-error-continue enableNotifications="true" logException="true" doc:name="On Error Continue" type="ANY">
				<ee:transform doc:name="Format Error Response">
					<ee:message>
						<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
	"status": "ERROR",
	"message": "Error processing ADT message: " + (error.description default "Unknown error"),
	"errorType": error.errorType.identifier default "UNKNOWN",
	"timestamp": now()
}]]></ee:set-payload>
					</ee:message>
				</ee:transform>
				<logger level="ERROR"
						doc:name="ADT Processing Error Logger"
						message="ADT MESSAGE ERROR - Type: #[error.errorType.identifier default 'UNKNOWN'], Description: #[error.description default 'Unknown error']" />
			</on-error-continue>
		</error-handler>
		</try>
	</flow>
	<sub-flow name="outboundContactSubFlow" doc:id="93f5a7d7-6778-4b32-9e92-f748e0a45d5f" >
		<!-- 1. Log user and patient validation - Filter removed -->
		<logger level="INFO" doc:name="1. Valid Patient"
				message="PROCESSING PATIENT - UserId: #[payload.data.payload.ChangeEventHeader.commitUser], Name: #[vars.queryData[0].FirstName default ''] #[vars.queryData[0].LastName default '']"/>
		
		<!-- ADT Configuration Logger -->
		<logger
			level="INFO"
			doc:name="ADT Configuration Logger"
			message="ADT message configuration: No Object Store mappings required for ADT^A04/A08 messages per NextGen specification." />
		
		<ee:transform doc:name="inputPayload" doc:id="726b9428-3195-464d-93e9-2d42d545e5ff" >
			<ee:message />
			<ee:variables >
				<ee:set-variable resource="dwl/variables/language-field-var.dwl" variableName="languageField" />
				<ee:set-variable variableName="providerId"><![CDATA[%dw 2.0
output application/json
---
""]]></ee:set-variable>
				<ee:set-variable variableName="checkConditionCreate"><![CDATA[%dw 2.0
output application/json
---
if (!isEmpty(payload.data.payload.ChangeEventHeader.entityName) and (!isEmpty(payload.data.payload.ChangeEventHeader.changeType))) (payload.data.payload.ChangeEventHeader.entityName ~= "Contact" and payload.data.payload.ChangeEventHeader.changeType ~= "CREATE") else false]]></ee:set-variable>
				<ee:set-variable variableName="checkConditionUpdate"><![CDATA[%dw 2.0
output application/json
---
if (!isEmpty(payload.data.payload.ChangeEventHeader.entityName) and (!isEmpty(payload.data.payload.ChangeEventHeader.changeType))) (payload.data.payload.ChangeEventHeader.entityName ~= "Contact" and payload.data.payload.ChangeEventHeader.changeType ~= "UPDATE") else false]]></ee:set-variable>
				<ee:set-variable variableName="eventType" ><![CDATA["REGISTRATION"]]></ee:set-variable>
			</ee:variables>
		</ee:transform>
		
		<!-- 2. Log variable setup completion -->
		<logger level="INFO" doc:name="2. Variables Setup"
				message="CONTACT VARIABLES - Language: #[vars.languageField default 'null'], Event Type: #[vars.eventType], Create?: #[vars.checkConditionCreate], Update?: #[vars.checkConditionUpdate]"/>
		
		<!-- 3. Log address fields specifically for debugging -->
		<logger level="INFO" doc:name="3. Address Fields Analysis"
				message="ADDRESS FIELD ANALYSIS - MailingStreet: #[vars.queryData[0].MailingStreet default 'null'], Contains newline in JSON: #[write(vars.queryData[0].MailingStreet,'application/json') contains '\\n'], Contains newline raw: #[vars.queryData[0].MailingStreet contains '\n'], Raw: #[write(vars.queryData[0].MailingStreet,'application/json')]"/>
		
		<logger level="INFO" doc:name="Logger" doc:id="2db58453-a42f-4217-82f4-07e59c0d9081" message="id is valid processing HL7 message"/>
		
		<choice doc:name="Choice" doc:id="5e5ddc9e-fad0-4893-96f0-8bb9170582c6" >
			<when expression="#[vars.checkConditionCreate]" >
				<!-- 4. Log before A04 mapping -->
				<logger level="INFO" doc:name="4. Pre-A04 Mapping"
						message="CREATING A04 MESSAGE - Contact ID: #[vars.queryData[0].Id default 'null'], HF ID: #[vars.queryData[0].HealthFusion_Patient_Record_ID__c default 'null']"/>
						
				<ee:transform doc:name="A04 mapping" doc:id="1d78613e-75c1-4c46-89c3-8d4bb0514104" >
					<ee:message >
						<ee:set-payload resource="dwl/payload/A04-mapping.dwl" />
					</ee:message>
				</ee:transform>
				
				<!-- 5. Log transformed payload for A04 -->
				<logger level="INFO" doc:name="5. A04 Transformed Payload"
						message="A04 TRANSFORMED - Payload preview: #[%dw 2.0 output application/json --- substring(payload, 0, 200) ++ '...']"/>
						
				<hl7:write doc:name="A04" doc:id="ac17b6d7-5171-4e2c-a38a-7f920e067a04" config-ref="HL7_EDI_Config_A04" />
				<!-- HL7 message output and segment analysis loggers for A04 -->
				<logger level="INFO" doc:name="HL7MessageLogger_A04" message="#[payload]"/>
				<logger level="INFO" doc:name="HL7SegmentAnalysis_A04" message="#[%dw 2.0
output application/json
---
{
		hasMSH: payload contains 'MSH|',
		hasPID: payload contains 'PID|',
		hasSCH: payload contains 'SCH|',
		hasAIL: payload contains 'AIL|',
		hasAIP: payload contains 'AIP|'
}]"/>
				<!-- 6. Log after HL7 write -->
				<logger level="INFO" doc:name="6. Post-HL7 Write A04"
						message="A04 HL7 MESSAGE - Type: ADT^A04, Size: #[sizeOf(payload)]"/>
						
				<flow-ref doc:name="callToRequestFlow" doc:id="dc0350f6-d2de-41ac-a513-7f896508bb21" name="commonRequestFlow" />
			</when>
			<when expression="#[vars.checkConditionUpdate]" >
				<!-- 7. Log before A08 mapping -->
				<logger level="INFO" doc:name="7. Pre-A08 Mapping"
						message="CREATING A08 MESSAGE - Contact ID: #[vars.queryData[0].Id default 'null'], HF ID: #[vars.queryData[0].HealthFusion_Patient_Record_ID__c default 'null']"/>
						
				<ee:transform doc:name="A08 mapping" doc:id="b3b25c25-6741-4563-b1c6-c96633f0d8b8" >
					<ee:message >
						<ee:set-payload resource="dwl/payload/A08-mapping.dwl" />
					</ee:message>
				</ee:transform>
				
				<!-- 8. Log transformed payload for A08 -->
				<logger level="INFO" doc:name="8. A08 Transformed Payload"
						message="A08 TRANSFORMED - Payload preview: #[%dw 2.0 output application/json --- substring(payload, 0, 200) ++ '...']"/>
						
				<hl7:write doc:name="A08" doc:id="cab0abba-1aa0-4936-8ddf-44e3ef698350" config-ref="HL7_EDI_Config_A08" >
				</hl7:write>
				<!-- HL7 message output and segment analysis loggers for A08 -->
				<logger level="INFO" doc:name="HL7MessageLogger_A08" message="#[payload]"/>
				<logger level="INFO" doc:name="HL7SegmentAnalysis_A08" message="#[%dw 2.0
output application/json
---
{
		hasMSH: payload contains 'MSH|',
		hasPID: payload contains 'PID|',
		hasSCH: payload contains 'SCH|',
		hasAIL: payload contains 'AIL|',
		hasAIP: payload contains 'AIP|'
}]"/>
				<!-- 9. Log after HL7 write -->
				<logger level="INFO" doc:name="9. Post-HL7 Write A08"
						message="A08 HL7 MESSAGE - Type: ADT^A08, Size: #[sizeOf(payload)]"/>
						
				<flow-ref doc:name="callToRequestFlow" doc:id="ef9e4ee8-018c-4630-91a0-3133ec4044e7" name="commonRequestFlow" />
			</when>
			<otherwise>
				<logger level="INFO" doc:name="defaultCase" doc:id="c5a189df-1b6c-4499-b654-f540d37e45c9" message='"invaild ADT type"' />
			</otherwise>
		</choice>
		
		
		<!-- 10. Log after sending to NextGen -->
		<logger level="INFO" doc:name="10. Contact Flow Response"
		      message="CONTACT FLOW RESPONSE - Status: #[if (payload contains 'Error') 'ERROR' else 'SUCCESS'], Message: #[payload]"/>
				
		<logger level="INFO" doc:name="outputPayloadLogger" doc:id="eb975a97-ba9a-4a62-88e4-c92cc607d82f" message="#[%dw 2.0
output application/json
---
{
	correlationId : correlationId,
	eventTimestamp : now(),
	applicationName: Mule::p('app.name'),
	flowName: flow.name default &quot;implementation-flows&quot;,
	environment: upper(Mule::p('mule.env')),
	source: Mule::p('source'),
	target:  Mule::p('target'),
	message: &quot;response sent to viva-sf-ng-outbound-sapi&quot;
}]" />
		<logger level="INFO" doc:name="outputPayload" doc:id="17899e6e-7e02-41ae-bed9-9fa1826c3663" message="#[payload]"/>
	</sub-flow>

</mule>
