.tooling/sfnextgen-v25b91d7fb-4936-443f-aec0-e8629c333806/sfnextgen-v2.xml
<mule xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:file="http://www.mulesoft.org/schema/mule/file" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:salesforce="http://www.mulesoft.org/schema/mule/salesforce" xmlns:salesforce-pub-sub="http://www.mulesoft.org/schema/mule/salesforce-pub-sub" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:os="http://www.mulesoft.org/schema/mule/os" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd         http://www.mulesoft.org/schema/mule/documentation http://www.mulesoft.org/schema/mule/documentation/current/mule-documentation.xsd         http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd         http://www.mulesoft.org/schema/mule/salesforce http://www.mulesoft.org/schema/mule/salesforce/current/mule-salesforce.xsd         http://www.mulesoft.org/schema/mule/salesforce-pub-sub http://www.mulesoft.org/schema/mule/salesforce-pub-sub/current/mule-salesforce-pub-sub.xsd         http://www.mulesoft.org/schema/mule/os http://www.mulesoft.org/schema/mule/os/current/mule-os.xsd         http://www.mulesoft.org/schema/mule/file http://www.mulesoft.org/schema/mule/file/current/mule-file.xsd         http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
  <http:listener-config basePath="/" name="Listener-config">
  <http:listener-connection host="localhost" port="8081"></http:listener-connection>
 </http:listener-config>
 <salesforce-pub-sub:pubsub-config name="Pubsub-config">
  <salesforce-pub-sub:config-with-oauth-connection>
   <salesforce-pub-sub:oauth-authorization-code accessTokenUrl="https://test.salesforce.com/services/oauth2/token" after="sfnextgen-v2Flow" authorizationUrl="https://test.salesforce.com/services/oauth2/authorize" before="sfnextgen-v2Flow" consumerKey="3MVG9EJ2FoGDnkgX9daA9yPi8VoYEaz9vnyWVDSZrwD3XA_DXS_MnLW3YYPn.PBp3yj..tgpXlYUuwmp26VZF" consumerSecret="5CD87471A3A77F6527C2B9B1E100ED78C8C1A0623875E1822E84080BD0B47A63"></salesforce-pub-sub:oauth-authorization-code>
   <salesforce-pub-sub:oauth-authorization-code consumerKey="3MVG9EJ2FoGDnkgX9daA9yPi8VoYEaz9vnyWVDSZrwD3XA_DXS_MnLW3YYPn.PBp3yj..tgpXlYUuwmp26VZF" consumerSecret="5CD87471A3A77F6527C2B9B1E100ED78C8C1A0623875E1822E84080BD0B47A63" authorizationUrl="https://test.salesforce.com/services/oauth2/authorize" accessTokenUrl="https://test.salesforce.com/services/oauth2/token" before="sfnextgen-v2Flow" after="sfnextgen-v2Flow" />
			<salesforce-pub-sub:oauth-callback-config authorizePath="/authorize" callbackPath="/callback" externalCallbackUrl="https://c432-50-158-35-114.ngrok-free.app" listenerConfig="Listener-config"></salesforce-pub-sub:oauth-callback-config>
   <salesforce-pub-sub:oauth-callback-config listenerConfig="Listener-config" callbackPath="/callback" authorizePath="/authorize" externalCallbackUrl="https://c432-50-158-35-114.ngrok-free.app" />
			<salesforce-pub-sub:oauth-store-config objectStore="defaultObjectStore"></salesforce-pub-sub:oauth-store-config>
			<salesforce-pub-sub:oauth-store-config objectStore="Object_store" />
  
</salesforce-pub-sub:config-with-oauth-connection>
 </salesforce-pub-sub:pubsub-config>
 <os:config name="ObjectStore_Config" doc:name="ObjectStore Config" doc:id="7fe1933b-2fe2-4d4a-aa54-2df63fcde2ac" />
	<os:object-store name="Object_store" doc:name="Object store" doc:id="82694471-2954-4007-a7ec-0867b1f3a287" />
	<flow doc:id="91a16900-9ba2-4f7d-8ba0-c5701d4143dc" name="sfnextgen-v2Flow">
  <salesforce-pub-sub:subscribe-channel-listener channelName="/event/Contact_Patient__e" config-ref="Pubsub-config" doc:id="a84151b5-a96b-4cc8-ae95-a949183b8b85" doc:name="Subscribe channel listener">
    <salesforce-pub-sub:replay-option>
      <salesforce-pub-sub:latest/>
    </salesforce-pub-sub:replay-option>
  </salesforce-pub-sub:subscribe-channel-listener>
  <choice doc:name="Route by EventType__c">
   <when expression="#[payload.EventType__c == 'A04']">
    <ee:transform doc:name="To HL7 ADT^A04">
     <ee:message>
      <ee:set-payload><![CDATA[
%dw 2.0
output text/plain
fun toHl7Name(last, first, middle) = (last default "PATIENT DECLINED") ++ "^" ++ (first default "PATIENT DECLINED") ++ "^" ++ (middle default "")
fun normGender(g) =
  if (((g default "") as String).upper == "M") "M"
  else if (((g default "") as String).upper == "F") "F"
  else "U"
fun normLang(l) = (l default "EN")  // Replace with code table if needed
---
(
	// MSH
	"MSH|^~\\&|HEALTHFUSION^1266378|NEXTGENOFFICE^1266378|FORESTHMS|FORESTHMS^1266378|" ++ now() as String {format: "yyyyMMddHHmmss"} ++ "||ADT^A04|" ++ (uuid() as String) ++ "|P|2.3" ++
	"\n" ++

	// PID
	"PID|1|" ++ (payload.HealthFusion_Patient_Record_ID__c default "") ++ "|" ++ (payload.HealthFusion_Patient_Record_ID__c default "") ++ "|" ++
	("HF" ++ (payload.HealthFusion_Patient_Record_ID__c default "")) ++ "|" ++
	toHl7Name(payload.LastName__c, payload.FirstName__c, payload.MiddleName__c) ++ "||" ++
	(payload.Date_of_Birth__c default "") ++ "|" ++
	normGender(payload.Patient_Gender__c) ++ "||" ++
	(payload.Patient_Race__c default "PATIENT DECLINED") ++ "|" ++
	(payload.MailingStreet__c default "") ++ "^^" ++ (payload.MailingCity__c default "") ++ "^" ++ (payload.MailingState__c default "") ++ "^" ++ (payload.MailingPostalCode__c default "") ++ "|" ++
	"(" ++ (payload.Phone__c default "") ++ ")" ++ (payload.Phone__c default "") ++ "^^^" ++ (payload.Email__c default "") ++ "^^" ++ (payload.Phone__c default "") ++ "^" ++ (payload.PhoneNumberFormatted__c default "") ++ "||" ++
	normLang(payload.Language__c) ++ "|||||||" ++
	(payload.Patient_Ethnicity__c default "PATIENT DECLINED") ++
	"\n" ++

	// PV1 (Example/simplified)
	"PV1|1|O|^^^1275017^^^^^FOREST HILLS||||||||1275017^^^1275017^^^^^FOREST HILLS|||||||||||||||||||||||N|||||1266378;FOREST HILLS MEDICAL SERVICES;FORESTHMS" ++
	"\n" ++

	// GT1
	"GT1|1|" ++ (payload.HealthFusion_Patient_Record_ID__c default "") ++ "|" ++ toHl7Name(payload.LastName__c, payload.FirstName__c, payload.MiddleName__c) ++ "||" ++
	(payload.MailingStreet__c default "") ++ "^^" ++ (payload.MailingCity__c default "") ++ "^" ++ (payload.MailingState__c default "") ++ "^" ++ (payload.MailingPostalCode__c default "") ++ "|" ++
	"(" ++ (payload.Phone__c default "") ++ ")" ++ (payload.Phone__c default "") ++ "^^^" ++ (payload.Email__c default "") ++ "^^" ++ (payload.Phone__c default "") ++ "^" ++ (payload.PhoneNumberFormatted__c default "") ++ "||" ++
	((payload.Date_of_Birth__c default "") ++ "000000") ++ "|" ++
	normGender(payload.Patient_Gender__c) ++ "||OTHER"
)
]]></ee:set-payload>
     </ee:message>
    </ee:transform>
    <file:write doc:name="Write HL7 ADT^A04" path="target/hl7-out/adt_a04_#[now()].hl7"></file:write>
   </when>
   <when expression="#[payload.EventType__c == 'A08']">
    <ee:transform doc:name="To HL7 ADT^A08">
     <ee:message>
      <ee:set-payload><![CDATA[
%dw 2.0
output text/plain
fun toHl7Name(last, first, middle) = (last default "PATIENT DECLINED") ++ "^" ++ (first default "PATIENT DECLINED") ++ "^" ++ (middle default "")
fun normGender(g) =
  if (((g default "") as String).upper == "M") "M"
  else if (((g default "") as String).upper == "F") "F"
  else "U"
fun normLang(l) = (l default "EN") // Replace with code table if needed
---
(
	"MSH|^~\\&|HEALTHFUSION^1266378|NEXTGENOFFICE^1266378|FORESTHMS|FORESTHMS^1266378|" ++ now() as String {format: "yyyyMMddHHmmss"} ++ "||ADT^A08|" ++ (uuid() as String) ++ "|P|2.3" ++
	"\n" ++

	"PID|1|" ++ (payload.HealthFusion_Patient_Record_ID__c default "") ++ "|" ++ (payload.HealthFusion_Patient_Record_ID__c default "") ++ "|" ++
	("HF" ++ (payload.HealthFusion_Patient_Record_ID__c default "")) ++ "|" ++
	toHl7Name(payload.LastName__c, payload.FirstName__c, payload.MiddleName__c) ++ "||" ++
	(payload.Date_of_Birth__c default "") ++ "|" ++
	normGender(payload.Patient_Gender__c) ++ "||" ++
	(payload.Patient_Race__c default "PATIENT DECLINED") ++ "|" ++
	(payload.MailingStreet__c default "") ++ "^^" ++ (payload.MailingCity__c default "") ++ "^" ++ (payload.MailingState__c default "") ++ "^" ++ (payload.MailingPostalCode__c default "") ++ "|" ++
	"(" ++ (payload.Phone__c default "") ++ ")" ++ (payload.Phone__c default "") ++ "^^^" ++ (payload.Email__c default "") ++ "^^" ++ (payload.Phone__c default "") ++ "^" ++ (payload.PhoneNumberFormatted__c default "") ++ "||" ++
	normLang(payload.Language__c) ++ "|||||||" ++
	(payload.Patient_Ethnicity__c default "PATIENT DECLINED") ++
	"\n" ++

	"PV1|1|O|^^^1275017^^^^^FOREST HILLS||||||||1275017^^^1275017^^^^^FOREST HILLS|||||||||||||||||||||||N|||||1266378;FOREST HILLS MEDICAL SERVICES;FORESTHMS" ++
	"\n" ++

	"GT1|1|" ++ (payload.HealthFusion_Patient_Record_ID__c default "") ++ "|" ++ toHl7Name(payload.LastName__c, payload.FirstName__c, payload.MiddleName__c) ++ "||" ++
	(payload.MailingStreet__c default "") ++ "^^" ++ (payload.MailingCity__c default "") ++ "^" ++ (payload.MailingState__c default "") ++ "^" ++ (payload.MailingPostalCode__c default "") ++ "|" ++
	"(" ++ (payload.Phone__c default "") ++ ")" ++ (payload.Phone__c default "") ++ "^^^" ++ (payload.Email__c default "") ++ "^^" ++ (payload.Phone__c default "") ++ "^" ++ (payload.PhoneNumberFormatted__c default "") ++ "||" ++
	((payload.Date_of_Birth__c default "") ++ "000000") ++ "|" ++
	normGender(payload.Patient_Gender__c) ++ "||SELF|||||||||OTHER"
)
]]></ee:set-payload>
     </ee:message>
    </ee:transform>
    <file:write doc:name="Write HL7 ADT^A08" path="target/hl7-out/adt_a08_#[now()].hl7"></file:write>
   </when>
   <otherwise>
    <logger doc:name="Unknown EventType - Skipped" level="WARN" message="Skipped payload, unknown EventType: #[payload.EventType__c]"></logger>
   </otherwise>
  </choice>
 </flow>
</mule>
