viva-sf-ng-outbound-sapi/src/main/mule/viva-sf-ng-outbound-sapi.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:apikit="http://www.mulesoft.org/schema/mule/mule-apikit" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd ">
    <apikit:config name="viva-sf-ng-outbound-sapi-config" api="viva-sf-ng-outbound-sapi.raml" outboundHeadersMapName="outboundHeaders" httpStatusVarName="httpStatus" />
    <flow name="viva-sf-ng-outbound-sapi-main" doc:id="44b97dbd-d87f-43be-b9cf-1a9a61592a10">
        <http:listener path="/api/*" config-ref="http-listener-config">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body><![CDATA[#[payload]]]></http:body>
                <http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
            </http:error-response>
        </http:listener>
        <ee:transform doc:name="initializationOfVariables" doc:id="b21adde5-f42f-4560-8392-45c3382c199d">
			<ee:message />
			<ee:variables>
				<ee:set-variable variableName="correlationId"><![CDATA[if(!isEmpty(attributes.headers.correlationId)) attributes.headers.correlationId else correlationId]]></ee:set-variable>
				<ee:set-variable variableName="httpMethod"><![CDATA[attributes.method]]></ee:set-variable>
			</ee:variables>
		</ee:transform>
		<apikit:router config-ref="viva-sf-ng-outbound-sapi-config" />
		<error-handler ref="error-handler" />
    </flow>
    <flow name="viva-sf-ng-outbound-sapi-console">
        <http:listener path="/console/*" config-ref="http-listener-config">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body><![CDATA[#[payload]]]></http:body>
                <http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
            </http:error-response>
        </http:listener>
        <apikit:console config-ref="viva-sf-ng-outbound-sapi-config" />
    </flow>
    <flow name="post:\invokenextgen:text\plain:viva-sf-ng-outbound-sapi-config">
		<flow-ref doc:name="callToImplFlow" doc:id="515deb40-5925-47de-96d8-28d5f72be197" name="implementationFlow" />
    </flow>
</mule>
