viva-ng-sf-inbound-papi/src/main/mule/generate-mappings.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns="http://www.mulesoft.org/schema/mule/core"
      xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xmlns:salesforce="http://www.mulesoft.org/schema/mule/salesforce"
      xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
      xmlns:http="http://www.mulesoft.org/schema/mule/http"
      xmlns:scripting="http://www.mulesoft.org/schema/mule/scripting"
      xmlns:java="http://www.mulesoft.org/schema/mule/java"
      xsi:schemaLocation="
        http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
        http://www.mulesoft.org/schema/mule/salesforce http://www.mulesoft.org/schema/mule/salesforce/current/mule-salesforce.xsd
        http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
        http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
        http://www.mulesoft.org/schema/mule/scripting http://www.mulesoft.org/schema/mule/scripting/current/mule-scripting.xsd
        http://www.mulesoft.org/schema/mule/java http://www.mulesoft.org/schema/mule/java/current/mule-java.xsd">

    <flow name="viva-ng-sf-generate-mappings-flow" initialState="started">
        <scheduler doc:name="Scheduler (Hourly)">
            <scheduling-strategy>
                <fixed-frequency frequency="1" timeUnit="HOURS"/>
            </scheduling-strategy>
        </scheduler>

        <logger level="INFO" message="Starting automatic mapping file generation"/>

        <flow-ref name="generate-territory-mapping"/>
        <flow-ref name="generate-worktype-mapping"/>
        <flow-ref name="generate-provider-mapping"/>

        <logger level="INFO" message="Mapping files generation completed successfully"/>
        <logger level="INFO" message="Current TerritoryMapping: #[output application/json --- vars.TerritoryMapping]"/>
        <logger level="INFO" message="Current WorkTypeMapping: #[output application/json --- vars.WorkTypeMapping]"/>
        <logger level="INFO" message="Current ProviderMapping: #[output application/json --- vars.ProviderMapping]"/>
    </flow>

    <sub-flow name="generate-territory-mapping">
        <logger level="INFO" message="Generating Service Territory mapping"/>

        <salesforce:query doc:name="Query Service Territories" config-ref="Salesforce_Config">
            <salesforce:salesforce-query><![CDATA[
                SELECT Id, Name, IsActive, NextGen_Appointment_Location__c, NextGen_Location__c, NextGen_Location_ID__c
                FROM ServiceTerritory
                WHERE IsActive = true
            ]]></salesforce:salesforce-query>
        </salesforce:query>

        <ee:transform doc:name="Format LocationId Mapping">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
payload map {
    "Id": $.Id,
    "Name": $.Name,
    "LOCATION": $.NextGen_Location_ID__c default $.NextGen_Location__c default $.NextGen_Appointment_Location__c default $.Name,
    "IsActive": $.IsActive
}]]></ee:set-payload>
            </ee:message>
            <ee:variables>
                <ee:set-variable variableName="mappingCount"><![CDATA[%dw 2.0
output application/java
---
sizeOf(payload)]]></ee:set-variable>
                <ee:set-variable variableName="TerritoryMapping"><![CDATA[%dw 2.0
output application/java
---
payload]]></ee:set-variable>
            </ee:variables>
        </ee:transform>

        <logger level="INFO" message="Stored #[vars.mappingCount] Service Territory mappings"/>
        <logger level="INFO" message="TerritoryMapping contents: #[output application/json --- vars.TerritoryMapping]"/>
    </sub-flow>

    <sub-flow name="generate-worktype-mapping">
        <logger level="INFO" message="Generating Work Type mapping"/>

        <salesforce:query doc:name="Query Work Types" config-ref="Salesforce_Config">
            <salesforce:salesforce-query><![CDATA[
                SELECT Id, Name, EstimatedDuration, DefaultAppointmentType, NextGen_External_ID__c,
                       Work_Type_Group_Reference__c, Work_Type_Group_Reference__r.Name, Work_Type_Group_Reference__r.Id
                FROM WorkType
            ]]></salesforce:salesforce-query>
        </salesforce:query>

        <ee:transform doc:name="Format Work Type Mapping">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
payload map {
    "WorkTypeId": $.Id,
    "duration": $.EstimatedDuration default 30,
    "AppointmentType": $.DefaultAppointmentType default "In-Office",
    "NextGenField": $.NextGen_External_ID__c default $.Name,
    "AdditionalInformation": $.Name,
    "Work_Type_Group_Id": $.Work_Type_Group_Reference__c,
    "Work_Type_Group__c": $.Work_Type_Group_Reference__r.Name
}]]></ee:set-payload>
            </ee:message>
            <ee:variables>
                <ee:set-variable variableName="mappingCount"><![CDATA[%dw 2.0
output application/java
---
sizeOf(payload)]]></ee:set-variable>
                <ee:set-variable variableName="WorkTypeMapping"><![CDATA[%dw 2.0
output application/java
---
payload]]></ee:set-variable>
            </ee:variables>
        </ee:transform>

        <logger level="INFO" message="Stored #[vars.mappingCount] Work Type mappings"/>
        <logger level="INFO" message="WorkTypeMapping contents: #[output application/json --- vars.WorkTypeMapping]"/>
    </sub-flow>

    <sub-flow name="generate-provider-mapping">
        <logger level="INFO" message="Generating Service Resource mapping"/>

        <salesforce:query doc:name="Query Service Resources" config-ref="Salesforce_Config">
            <salesforce:salesforce-query><![CDATA[
                SELECT Id, Name, IsActive, RelatedRecord.FirstName, RelatedRecord.LastName,
                       NextGen_First_Name__c, NextGen_Last_Name__c, NextGen_Provider_for_Appointment__c, NPI__c
                FROM ServiceResource
                WHERE IsActive = true
            ]]></salesforce:salesforce-query>
        </salesforce:query>

        <ee:transform doc:name="Format Provider Mapping">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
payload map {
    "providerId": $.Id,
    "Provider_for_Appointment__c": $.NextGen_Provider_for_Appointment__c default $.Name,
    "First_Name": $.NextGen_First_Name__c default $.RelatedRecord.FirstName default "",
    "Last_Name": $.NextGen_Last_Name__c default $.RelatedRecord.LastName default $.Name,
    "NPI": $.NPI__c default ""
}]]></ee:set-payload>
            </ee:message>
            <ee:variables>
                <ee:set-variable variableName="mappingCount"><![CDATA[%dw 2.0
output application/java
---
sizeOf(payload)]]></ee:set-variable>
                <ee:set-variable variableName="ProviderMapping"><![CDATA[%dw 2.0
output application/java
---
payload]]></ee:set-variable>
            </ee:variables>
        </ee:transform>

        <logger level="INFO" message="Stored #[vars.mappingCount] Provider mappings"/>
        <logger level="INFO" message="ProviderMapping contents: #[output application/json --- vars.ProviderMapping]"/>
    </sub-flow>

    <flow name="viva-ng-sf-manual-mapping-generation">
        <http:listener config-ref="http-listener-config" path="/api/generate-mappings"/>
        <logger level="INFO" message="Manual mapping generation triggered"/>

        <flow-ref name="generate-territory-mapping"/>
        <flow-ref name="generate-worktype-mapping"/>
        <flow-ref name="generate-provider-mapping"/>

        <ee:transform>
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
    status: "success",
    message: "Mapping files stored in flow variables",
    timestamp: now(),
    territoryCount: sizeOf(vars.TerritoryMapping),
    workTypeCount: sizeOf(vars.WorkTypeMapping),
    providerCount: sizeOf(vars.ProviderMapping)
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>

    <flow name="viva-ng-sf-startup-mapping-generation" initialState="started">
        <scheduler doc:name="Scheduler (Startup)">
            <scheduling-strategy>
                <fixed-frequency frequency="1" timeUnit="DAYS" startDelay="0"/>
            </scheduling-strategy>
        </scheduler>

        <logger level="INFO" message="Startup mapping generation triggered"/>

        <flow-ref name="generate-territory-mapping"/>
        <flow-ref name="generate-worktype-mapping"/>
        <flow-ref name="generate-provider-mapping"/>

        <logger level="INFO" message="Startup mapping generation completed"/>
        <logger level="INFO" message="Final mapping state - Territory: #[sizeOf(vars.TerritoryMapping)] entries, WorkType: #[sizeOf(vars.WorkTypeMapping)] entries, Provider: #[sizeOf(vars.ProviderMapping)] entries"/>
    </flow>
</mule>