.tooling-apps-cache/app/viva-ng-sf-inbound-papi/errorhandler.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:email="http://www.mulesoft.org/schema/mule/email"
	xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/email http://www.mulesoft.org/schema/mule/email/current/mule-email.xsd">
	
	<error-handler name="error-handler"
		doc:id="11f974b4-c005-45d0-8b72-217ce797097a">

		<!-- <on-error-propagate enableNotifications="true" logException="true" 
			doc:name="On Error Propagate" doc:id="a34fc6dc-f096-494d-bbca-021a666aa641" 
			when="#[(error.errorType.identifier contains 'ERROR_SELECTING') or (error.errorType.identifier 
			contains 'ERROR_INSERTING') or (error.errorType.identifier contains 'ERROR_UPDATING') 
			or (error.errorType.identifier contains 'ERROR_DELETING') ]"> <ee:transform 
			doc:name="FWW-500" doc:id="be180cdf-180a-45ae-a06a-e5054e585968" > <ee:message 
			> <ee:set-payload ><![CDATA[%dw 2.0 output application/json -&#45;&#45; { 
			"applicationErrorCode": vars.error.code default "FWW-500", "severity": vars.error.severity 
			default '2', "errorDescription": if(vars.error.description?) // check for 
			custom message from error variable vars.error.description else // or from 
			a validation module error.description default 'Internal Error', "errorCode": 
			500 } ]]></ee:set-payload> </ee:message> <ee:variables > <ee:set-variable 
			variableName="httpStatus" ><![CDATA['500']]></ee:set-variable> </ee:variables> 
			</ee:transform> <flow-ref doc:name="error-handler-exit" doc:id="f6ad6687-21d0-44ec-bf14-df07c345407e" 
			name="error-handler-exit"/> </on-error-propagate> -->
		
		<on-error-propagate enableNotifications="true" logException="true" doc:name="On Error Propagate" doc:id="b8b72e57-a148-4d47-9d8d-cc2c86940dcb" type="APIKIT:NOT_FOUND,APIKIT:BAD_REQUEST,APIKIT:METHOD_NOT_ALLOWED,APIKIT:NOT_ACCEPTABLE,APIKIT:UNSUPPORTED_MEDIA_TYPE,APIKIT:NOT_IMPLEMENTED">
			<ee:transform doc:name="ApiKitErrors" doc:id="758d3964-e869-4ef5-b2c1-ac6d80fa317c" >
				<ee:message >
					<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
if(!isEmpty(error.errorMessage.payload) and !isEmpty(error.errorMessage.payload.errorOrigin)) 
	error.errorMessage.payload
else { 
  "messages" :  if(error.cause.errorMessage.payload.messages != null) (error.cause.errorMessage.payload.messages) else error.description,
  "errorOrigin": p('application.name'),
  "status" : "ERROR",
  "code": error.errorType.asString default error.errorMessage.attributes.statusCode,
  "description" : error.detailedDescription,
  "correlationId" : vars.correlationId default "",
  "timestamp":  now() >> "America/Chicago" as String {format: "yyyy-MM-dd'T'HH:mm:ss.SSS"}
}]]></ee:set-payload>
				</ee:message>
			</ee:transform>
			<flow-ref doc:name="error-handler-exit" doc:id="6f5689a4-9aa0-4ecf-b543-864bc8fac379" name="error-handler-exit" />
		</on-error-propagate>
		<on-error-propagate enableNotifications="true" logException="true" doc:name="On Error Propagate" doc:id="da9edfbf-1827-4f7f-ad60-8bacf0aed615" type="SALESFORCE-COMPOSITE:CONNECTIVITY,SALESFORCE-COMPOSITE:INVALID_SESSION,SALESFORCE-COMPOSITE:RETRY_EXHAUSTED,SALESFORCE-COMPOSITE:TRANSACTION,SALESFORCE-COMPOSITE:TRANSFORMATION,SALESFORCE-COMPOSITE:UNKNOWN,SALESFORCE-COMPOSITE:VALIDATION">
			<ee:transform doc:name="SFCompositeErrors" doc:id="78ba415f-690d-438a-94f9-06f705e7ec18" >
				<ee:message >
					<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
if(!isEmpty(error.errorMessage.payload) and !isEmpty(error.errorMessage.payload.errorOrigin)) 
	error.errorMessage.payload
else { 
  "messages" :  if(error.cause.errorMessage.payload.messages != null) (error.cause.errorMessage.payload.messages) else error.description,
  "errorOrigin": p('application.name'),
  "status" : "ERROR",
  "code": error.errorType.asString default error.errorMessage.attributes.statusCode,
  "description" : error.detailedDescription,
  "correlationId" : vars.correlationId default "",
  "timestamp":  now() >> "America/Chicago" as String {format: "yyyy-MM-dd'T'HH:mm:ss.SSS"}
}]]></ee:set-payload>
				</ee:message>
			</ee:transform>
			<flow-ref doc:name="Flow Reference to error Email" doc:id="0f2930c2-d3f0-431c-878c-bc4aa5d821e3" name="impl-error-email-flow"/>
			<flow-ref doc:name="error-handler-exit" doc:id="05c8419d-a765-4511-afdf-929a5f973d0f" name="error-handler-exit" />
		</on-error-propagate>
		<on-error-propagate enableNotifications="true" logException="true" doc:name="On Error Propagate" doc:id="e7ca5609-d61c-4bba-a81e-f29c6b77b77b" type="SALESFORCE:CONNECTIVITY, SALESFORCE:INVALID_INPUT, SALESFORCE:INVALID_RESPONSE,MULE:RETRY_EXHAUSTED, SALESFORCE:LIMIT_EXCEEDED, SALESFORCE:MUTUAL_AUTHENTICATION_FAILED, SALESFORCE:NOT_FOUND, SALESFORCE:RETRY_EXHAUSTED, SALESFORCE:TIMEOUT">
			<ee:transform doc:name="SF Errors" doc:id="6374d1ac-86c6-46de-856a-7ea700d1ecf1" >
				<ee:message >
					<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
if(!isEmpty(error.errorMessage.payload) and !isEmpty(error.errorMessage.payload.errorOrigin)) 
	error.errorMessage.payload
else { 
  "messages" :  if(error.cause.errorMessage.payload.messages != null) (error.cause.errorMessage.payload.messages) else error.description,
  "errorOrigin": p('application.name'),
  "status" : "ERROR",
  "code": error.errorType.asString default error.errorMessage.attributes.statusCode,
  "description" : error.detailedDescription,
  "correlationId" : vars.correlationId default "",
  "timestamp":  now() >> "America/Chicago" as String {format: "yyyy-MM-dd'T'HH:mm:ss.SSS"}
}]]></ee:set-payload>
				</ee:message>
			</ee:transform>
			<flow-ref doc:name="Flow Reference to error Email" doc:id="c4f75994-518a-4438-8e5d-ec519a1eb39a" name="impl-error-email-flow"/>
			<flow-ref doc:name="error-handler-exit" doc:id="e7b9fbef-cd05-44e5-bdf3-2f2d261091db" name="error-handler-exit"/>
		
</on-error-propagate>
		<on-error-propagate enableNotifications="true" logException="true" doc:name="On Error Propagate" doc:id="57f63d50-9205-4e7e-bf58-b4cbd66bd957" type="HTTP:BAD_GATEWAY,HTTP:BAD_REQUEST, HTTP:CLIENT_SECURITY, HTTP:CONNECTIVITY, HTTP:INTERNAL_SERVER_ERROR, HTTP:METHOD_NOT_ALLOWED, HTTP:NOT_ACCEPTABLE, HTTP:RETRY_EXHAUSTED, HTTP:SECURITY, HTTP:SERVICE_UNAVAILABLE, HTTP:TIMEOUT, HTTP:TOO_MANY_REQUESTS, HTTP:UNSUPPORTED_MEDIA_TYPE, STREAM_MAXIMUM_SIZE_EXCEEDED" >
			<ee:transform doc:name="HTTPErrors" doc:id="d57d6760-3f35-45b6-bf8c-44a992cb91e3" >
				<ee:message >
					<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
if(!isEmpty(error.errorMessage.payload) and !isEmpty(error.errorMessage.payload.errorOrigin)) 
	error.errorMessage.payload
else { 
  "messages" :  if(error.cause.errorMessage.payload.messages != null) (error.cause.errorMessage.payload.messages) else error.description,
  "errorOrigin": p('application.name'),
  "status" : "ERROR",
  "code": error.errorType.asString default error.errorMessage.attributes.statusCode,
  "description" : error.detailedDescription,
  "correlationId" : vars.correlationId default "",
  "timestamp":  now() >> "America/Chicago" as String {format: "yyyy-MM-dd'T'HH:mm:ss.SSS"}
}]]></ee:set-payload>
				</ee:message>
				<ee:variables >
					<ee:set-variable variableName="httpStatus" ><![CDATA[error.errorMessage.attributes.statusCode default "500"]]></ee:set-variable>
				</ee:variables>
			</ee:transform>
			<flow-ref doc:name="Flow Reference to error Email" doc:id="a80dfdf1-7445-4462-841a-7065b6a7bd24" name="impl-error-email-flow"/>
			<flow-ref doc:name="error-handler-exit" doc:id="1997017d-8aa5-4b5e-9b98-a6fc00a3d8da" name="error-handler-exit" />
		</on-error-propagate>
		<on-error-propagate enableNotifications="true" logException="true" doc:name="On Error Propagate" doc:id="bb93097d-696d-4050-b98e-a32b4c5f0e6c" type="ANY">
			<ee:transform doc:name="Handling Mapping Errors" doc:id="6c34aa41-6e27-4f28-8273-c53e932f4e57">
				<ee:message>
					<ee:set-payload resource="transformations/error500.dwl" />
				</ee:message>
				<ee:variables>
					<ee:set-variable variableName="httpStatus"><![CDATA[error.errorMessage.attributes.statusCode default "500"]]></ee:set-variable>
				</ee:variables>
			</ee:transform>
			<flow-ref doc:name="Flow Reference to error Email" doc:id="99f08e4e-ee14-45de-b8c3-76721de51dda" name="impl-error-email-flow"/>
			<flow-ref doc:name="error-handler-exit" doc:id="81f1df77-34d2-466a-b6da-5c016155c8a0" name="error-handler-exit" />
		</on-error-propagate>
		
	


</error-handler>
	<sub-flow name="error-handler-exit"
		doc:id="59484f01-bedc-439b-9881-5c0314100a01">
		<logger level="ERROR" doc:name="Logger" doc:id="0361cd35-74e3-4c2c-bba0-1dc72af7f43d" message="#[payload]"/>
	</sub-flow>
	<!-- [STUDIO:"impl-error-email-flow"]<flow name="impl-error-email-flow" doc:id="ea3e6f41-2bf1-40a8-9d8c-44c98028eb0c" >
		<error-handler ref="error-handler" />
	</flow> [STUDIO] -->
	<sub-flow name="impl-error-email-flow" doc:id="2beb91b6-5554-40af-b239-aa1d1624eb36" >
		<ee:transform doc:name="Set Error Email Details" doc:id="39809132-0867-4903-b63d-1022019a03d3">
			<ee:message>
				<ee:set-payload resource="dwl/error-details-mapping.dwl" />
			</ee:message>
			<ee:variables>
			</ee:variables>
		</ee:transform>
		<logger level="INFO" doc:name="Mail Start Log" doc:id="f74cc451-e642-40f4-af87-8b05d988a950" message='CorrelationId::: #[vars.transactionId]  "Sending Error Email to InternalTeam "' />
		<email:send doc:name="errorEmail" doc:id="b45fd0e6-9960-4613-8cb4-ba054ffce52c" config-ref="Email_SMTP" fromAddress="${email.from}" subject="#[output application/java --- payload.body]">
			<email:to-addresses>
				<email:to-address value="${email.to}" />
			</email:to-addresses>
			<email:body contentType="text/plain" />
		</email:send>
		<logger level="INFO" doc:name="Mail End Log" doc:id="90e83f8e-4f08-443f-a82e-2f0c5ac47c54" message='CorrelationId::: #[vars.transactionId]   "Error Email sent successfully"' />
		<ee:transform doc:name="Set Response" doc:id="7c19e45f-9fda-4e53-9a6f-c0a000b8b84e">
			<ee:message>
				<ee:set-payload resource="dwl/error-response-sent.dwl" />
			</ee:message>
		</ee:transform>
	</sub-flow>
	</mule>
