sfnextgen-v2/.tooling-project/temp/sfnextgen-v2a7e5bb/src/main/mule/sfnextgen-v2.xml
<mule xmlns="http://www.mulesoft.org/schema/mule/core"
    xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
    xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
    xmlns:salesforce="http://www.mulesoft.org/schema/mule/salesforce"
    xmlns:salesforce-pub-sub="http://www.mulesoft.org/schema/mule/salesforce-pub-sub"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:file="http://www.mulesoft.org/schema/mule/file"
    xmlns:http="http://www.mulesoft.org/schema/mule/http"
    xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
        http://www.mulesoft.org/schema/mule/documentation http://www.mulesoft.org/schema/mule/documentation/current/mule-documentation.xsd
        http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
        http://www.mulesoft.org/schema/mule/salesforce http://www.mulesoft.org/schema/mule/salesforce/current/mule-salesforce.xsd
        http://www.mulesoft.org/schema/mule/salesforce-pub-sub http://www.mulesoft.org/schema/mule/salesforce-pub-sub/current/mule-salesforce-pub-sub.xsd
        http://www.mulesoft.org/schema/mule/file http://www.mulesoft.org/schema/mule/file/current/mule-file.xsd
        http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
 <http:listener-config name="Listener-config" basePath="/">
  <http:listener-connection port="8081" host="0.0.0.0  "></http:listener-connection>
 </http:listener-config>
 <flow doc:id="91a16900-9ba2-4f7d-8ba0-c5701d4143dc" name="sfnextgen-v2Flow">
  <salesforce-pub-sub:subscribe-channel-listener channelName="/event/Contact_Patient__e" doc:id="a84151b5-a96b-4cc8-ae95-a949183b8b85" doc:name="Subscribe channel listener" replayOption=""></salesforce-pub-sub:subscribe-channel-listener>
  <choice doc:name="Route by EventType__c">
   <when expression="#[payload.EventType__c == 'A04']">
    <ee:transform doc:name="To HL7 ADT^A04">
     <ee:message>
      <ee:set-payload><![CDATA[
%dw 2.0
output text/plain
fun toHl7Name(last, first, middle) = (last default "PATIENT DECLINED") ++ "^" ++ (first default "PATIENT DECLINED") ++ "^" ++ (middle default "")
fun normGender(g) =
  if (((g default "") as String).upper == "M") "M"
  else if (((g default "") as String).upper == "F") "F"
  else "U"
fun normLang(l) = (l default "EN")  // Replace with code table if needed
---
(
	// MSH
	"MSH|^~\\&|HEALTHFUSION^1266378|NEXTGENOFFICE^1266378|FORESTHMS|FORESTHMS^1266378|" ++ now() as String {format: "yyyyMMddHHmmss"} ++ "||ADT^A04|" ++ (uuid() as String) ++ "|P|2.3" ++
	"\n" ++

	// PID
	"PID|1|" ++ (payload.HealthFusion_Patient_Record_ID__c default "") ++ "|" ++ (payload.HealthFusion_Patient_Record_ID__c default "") ++ "|" ++
	("HF" ++ (payload.HealthFusion_Patient_Record_ID__c default "")) ++ "|" ++
	toHl7Name(payload.LastName__c, payload.FirstName__c, payload.MiddleName__c) ++ "||" ++
	(payload.Date_of_Birth__c default "") ++ "|" ++
	normGender(payload.Patient_Gender__c) ++ "||" ++
	(payload.Patient_Race__c default "PATIENT DECLINED") ++ "|" ++
	(payload.MailingStreet__c default "") ++ "^^" ++ (payload.MailingCity__c default "") ++ "^" ++ (payload.MailingState__c default "") ++ "^" ++ (payload.MailingPostalCode__c default "") ++ "|" ++
	"(" ++ (payload.Phone__c default "") ++ ")" ++ (payload.Phone__c default "") ++ "^^^" ++ (payload.Email__c default "") ++ "^^" ++ (payload.Phone__c default "") ++ "^" ++ (payload.PhoneNumberFormatted__c default "") ++ "||" ++
	normLang(payload.Language__c) ++ "|||||||" ++
	(payload.Patient_Ethnicity__c default "PATIENT DECLINED") ++
	"\n" ++

	// PV1 (Example/simplified)
	"PV1|1|O|^^^1275017^^^^^FOREST HILLS||||||||1275017^^^1275017^^^^^FOREST HILLS|||||||||||||||||||||||N|||||1266378;FOREST HILLS MEDICAL SERVICES;FORESTHMS" ++
	"\n" ++

	// GT1
	"GT1|1|" ++ (payload.HealthFusion_Patient_Record_ID__c default "") ++ "|" ++ toHl7Name(payload.LastName__c, payload.FirstName__c, payload.MiddleName__c) ++ "||" ++
	(payload.MailingStreet__c default "") ++ "^^" ++ (payload.MailingCity__c default "") ++ "^" ++ (payload.MailingState__c default "") ++ "^" ++ (payload.MailingPostalCode__c default "") ++ "|" ++
	"(" ++ (payload.Phone__c default "") ++ ")" ++ (payload.Phone__c default "") ++ "^^^" ++ (payload.Email__c default "") ++ "^^" ++ (payload.Phone__c default "") ++ "^" ++ (payload.PhoneNumberFormatted__c default "") ++ "||" ++
	((payload.Date_of_Birth__c default "") ++ "000000") ++ "|" ++
	normGender(payload.Patient_Gender__c) ++ "||OTHER"
)
]]></ee:set-payload>
     </ee:message>
    </ee:transform>
    <file:write xmlns:file="http://www.mulesoft.org/schema/mule/file" doc:name="Write HL7 ADT^A04" path="target/hl7-out/adt_a04_#[now()].hl7"></file:write>
   </when>
   <when expression="#[payload.EventType__c == 'A08']">
    <ee:transform doc:name="To HL7 ADT^A08">
     <ee:message>
      <ee:set-payload><![CDATA[
%dw 2.0
output text/plain
fun toHl7Name(last, first, middle) = (last default "PATIENT DECLINED") ++ "^" ++ (first default "PATIENT DECLINED") ++ "^" ++ (middle default "")
fun normGender(g) =
  if (((g default "") as String).upper == "M") "M"
  else if (((g default "") as String).upper == "F") "F"
  else "U"
fun normLang(l) = (l default "EN") // Replace with code table if needed
---
(
	"MSH|^~\\&|HEALTHFUSION^1266378|NEXTGENOFFICE^1266378|FORESTHMS|FORESTHMS^1266378|" ++ now() as String {format: "yyyyMMddHHmmss"} ++ "||ADT^A08|" ++ (uuid() as String) ++ "|P|2.3" ++
	"\n" ++

	"PID|1|" ++ (payload.HealthFusion_Patient_Record_ID__c default "") ++ "|" ++ (payload.HealthFusion_Patient_Record_ID__c default "") ++ "|" ++
	("HF" ++ (payload.HealthFusion_Patient_Record_ID__c default "")) ++ "|" ++
	toHl7Name(payload.LastName__c, payload.FirstName__c, payload.MiddleName__c) ++ "||" ++
	(payload.Date_of_Birth__c default "") ++ "|" ++
	normGender(payload.Patient_Gender__c) ++ "||" ++
	(payload.Patient_Race__c default "PATIENT DECLINED") ++ "|" ++
	(payload.MailingStreet__c default "") ++ "^^" ++ (payload.MailingCity__c default "") ++ "^" ++ (payload.MailingState__c default "") ++ "^" ++ (payload.MailingPostalCode__c default "") ++ "|" ++
	"(" ++ (payload.Phone__c default "") ++ ")" ++ (payload.Phone__c default "") ++ "^^^" ++ (payload.Email__c default "") ++ "^^" ++ (payload.Phone__c default "") ++ "^" ++ (payload.PhoneNumberFormatted__c default "") ++ "||" ++
	normLang(payload.Language__c) ++ "|||||||" ++
	(payload.Patient_Ethnicity__c default "PATIENT DECLINED") ++
	"\n" ++

	"PV1|1|O|^^^1275017^^^^^FOREST HILLS||||||||1275017^^^1275017^^^^^FOREST HILLS|||||||||||||||||||||||N|||||1266378;FOREST HILLS MEDICAL SERVICES;FORESTHMS" ++
	"\n" ++

	"GT1|1|" ++ (payload.HealthFusion_Patient_Record_ID__c default "") ++ "|" ++ toHl7Name(payload.LastName__c, payload.FirstName__c, payload.MiddleName__c) ++ "||" ++
	(payload.MailingStreet__c default "") ++ "^^" ++ (payload.MailingCity__c default "") ++ "^" ++ (payload.MailingState__c default "") ++ "^" ++ (payload.MailingPostalCode__c default "") ++ "|" ++
	"(" ++ (payload.Phone__c default "") ++ ")" ++ (payload.Phone__c default "") ++ "^^^" ++ (payload.Email__c default "") ++ "^^" ++ (payload.Phone__c default "") ++ "^" ++ (payload.PhoneNumberFormatted__c default "") ++ "||" ++
	((payload.Date_of_Birth__c default "") ++ "000000") ++ "|" ++
	normGender(payload.Patient_Gender__c) ++ "||SELF|||||||||OTHER"
)
]]></ee:set-payload>
     </ee:message>
    </ee:transform>
    <file:write doc:name="Write HL7 ADT^A08" path="target/hl7-out/adt_a08_#[now()].hl7"></file:write>
   </when>
   <otherwise>
    <logger doc:name="Unknown EventType - Skipped" level="WARN" message="Skipped payload, unknown EventType: #[payload.EventType__c]"></logger>
   </otherwise>
  </choice>
 </flow>
</mule>
